<div class="cc-question-container" data-type="checkbox" data-id="{{questionId}}" data-required="{{isRequired}}">
  <div class="cc-question-container__text">
    <p>{{question}}</p>
    <span class="cc-question-container__required">Required *</span>

  </div>
  <div class="cc-question-container__content cc-big-list-container" id="{{questionId}}">
    <ul class="cc-question-container__list" >
      <li>
        <div class="cc-checkbox">
          <input type="checkbox" value="Learn more" name="" id="check-one">
          <label class="ui checkbox" for="check-one">
          </label>
        </div>
        <span><label for="check-one">Learn more about a product</label></span>
      </li>
      <li>
        <div class="cc-checkbox">
          <input type="checkbox" value="Troubleshoot" name="" id="check-two">
          <label class="ui checkbox" for="check-two" >
          </label>
        </div>
            <span><label for="check-two">Troubleshoot an error</label></span>
      </li>
      <li>
        <div class="cc-checkbox">
          <input type="checkbox" value="Understand" name="" id="check-three">
          <label class="ui checkbox" for="check-three">
          </label>
        </div>
            <span><label  for="check-three">Understand a product</label></span>
      </li>
      <li>
        <div class="cc-checkbox">
          <input type="checkbox" value="Buy a" name="" id="check-four">
          <label class="ui checkbox" for="check-four"></label>
        </div>
            <span><label for="check-four">Buy a product</label></span>
      </li>
      <li>
        <div class="cc-checkbox">
          <input type="checkbox" value="Contact" name="" id="check-five">
          <label class="ui checkbox" for="check-five"></label>
        </div>
        <span><label for="check-five">Contact customer care</label></span>
      </li>
    </ul>
  </div>
</div>
