
<div class="cc-question-container" data-type="nps" data-id="{{questionId}}" data-required="{{isRequired}}">
  <div class="cc-question-container__text">
    <p><span class="cc-question-container__required-label">{{requiredLabel}}</span>{{question}}</p>
    <span class="cc-question-container__required">Required *</span>
  </div>
  <div class="cc-question-container__content rating-color act-cc-question-nps" id="{{questionId}}">
    <div class="cc-question-container__list">
      {{optionsRange}}
      <span class="clearfix"></span>
      <span class="option-left-rating-text">Not at all likely</span>
      <span class="option-right-rating-text">Very likely</span>
      <input type="hidden" value="" class="option-number-input">
    </div>
  </div>
</div>
