<div class="cc-question-container" data-required="{{isRequired}}" data-type="slider" data-id="{{questionId}}">
    <div class="cc-question-container__text">
        <p>{{question}}</p>
        <span class="cc-question-container__required">Required *</span>
        
    </div>
    <div class="cc-question-container__content rating-color range-slider" id="{{questionId}}">
        <div class="cc-question-container__slider">
            <input type="range" name="" value="" min="{{min}}" max="{{max}}" class="range blue">
            <span class="option-left-rating-text">{{minLabel}}</span>
            <span class="option-right-rating-text">{{maxLabel}}</span>
        </div>
    </div>
</div>
