<div class="cc-question-container drop-cc-question-container" data-required="{{isRequired}}" data-type="select" data-id="{{questionId}}">
  <div class="cc-question-container__text">
    <p><span class="cc-question-container__required-label">{{requiredLabel}}</span>{{question}}</p>
    <span class="cc-question-container__required">Required *</span>
    
  </div>
  <div class="cc-question-container__content" id="{{questionId}}">
    <!-- <span class="hl dropdown">Select</span> -->
    <div class="cc-select-wrapper">
      <select name="sources" id="sources" class="cc-select sources" placeholder="Select">
          {{options}}
        </select>
      </div>
  </div>
</div>
