<div class="cc-question-container radio-toggle" data-type="radio" data-id="{{questionId}}" data-required="{{isRequired}}">
  <div class="cc-question-container__text">
    <p class=""><span class="cc-question-container__required-label">{{requiredLabel}}</span>{{question}}</p>
    <span class="cc-question-container__required">Mandatory Question</span>
    
  </div>
  <div class="cc-question-container__content" id="{{questionId}}">
    <ul class="cc-question-container__list">
           {{options}}

      <!-- <li>
        <div class="cc-checkbox cc-radio">
          <input type="radio" name="serv" id="service-yes" value="yes">
          <label class="ui checkbox" for="service-yes"></label>
        </div>
        <span><label for="service-yes">Yes</label></span>
      </li>
      <li>
        <div class="cc-checkbox cc-radio">
          <input type="radio" name="serv" id="service-no" value="yes">
          <label class="ui checkbox" for="service-no"></label>
        </div>
        <span><label for="service-no">No</label></span>
      </li> -->
    </ul>
  </div>
</div>
