<div class="cc-question-container" data-type="csat" data-required="{{isRequired}}" data-id="{{questionId}}">
    <div class="cc-question-container__text">
      <p class=""><span class="cc-question-container__required-label">{{requiredLabel}}</span>{{question}}</p>
      <span class="cc-question-container__required">Mandatory Question</span>
      
    </div>
    <div class="cc-question-container__content cc-csat rating-color" id="{{questionId}}">
      <div class="cc-question-container__list">
        <span class="option-csat option-smile-box one" data-rating="1">
          <div class="cc-checkbox cc-radio ">
          <input type="radio" name="serv" id="service-yes">
          <label class="ui checkbox" for="service-yes"></label>
        </div>
        <span>Extremely Satisfied</span>
      </span>
        <span class="option-csat option-smile-box two" data-rating="2">
          <div class="cc-checkbox cc-radio">
          <input type="radio" name="serv" id="service-yes">
          <label class="ui checkbox" for="service-yes"></label>
        </div>
        <span>Very Satisfied</span>
      </span>
        <span class="option-csat option-smile-box three" data-rating="3">
          <div class="cc-checkbox cc-radio">
          <input type="radio" name="serv" id="service-yes">
          <label class="ui checkbox" for="service-yes"></label>
        </div>
        <span>Satisfied</span>
      </span>
        <span class="option-csat option-smile-box four" data-rating="4">
          <div class="cc-checkbox cc-radio">
          <input type="radio" name="serv" id="service-yes">
          <label class="ui checkbox" for="service-yes"></label>
        </div>
        <span>Somewhat Dissatisfied</span>
      </span>
        <span class="option-csat option-smile-box five" data-rating="5">
          <div class="cc-checkbox cc-radio">
          <input type="radio" name="serv" id="service-yes">
          <label class="ui checkbox" for="service-yes"></label>
        </div>
        <span>Very Dissatisfied</span>
      </span>
      </div>
    </div>
  </div>
  