<div class="cc-question-container" data-type="multiline" data-id="{{questionId}}" data-required="{{isRequired}}">
  <div class="cc-question-container__text">
    <p><span class="cc-question-container__required-label">{{requiredLabel}}</span>{{question}}</p>
    <span class="cc-question-container__required">Mandatory Question</span>
        <span class="cc-question-container__validation">{{validationHint}}</span>

  </div>
  <div class="cc-question-container__content">
    <textarea class="multiline-box form-control" id="{{questionId}}" placeholder="Share your thoughts..." ></textarea>
  </div>
</div>
