<div class="cc-question-container">
  <div class="cc-question-container__text">
    <p>{{question}}</p>
  </div>
  <div class="cc-question-container__content rating-color">
    <div class="cc-question-container__list">
      <span class="option-number-item option-zero">0</span>
      <span class="option-number-item option-one">1</span>
      <span class="option-number-item option-two">2</span>
      <span class="option-number-item option-three">3</span>
      <span class="option-number-item option-four">4</span>
      <span class="option-number-item option-five">5</span>
      <span class="option-number-item option-six">6</span>
      <span class="option-number-item option-seven">7</span>
      <span class="option-number-item option-eight">8</span>
      <span class="option-number-item option-nine">9</span>
      <span class="option-number-item option-ten">10</span>
      <span class="clearfix"></span>
      <span class="option-left-rating-text">Not at all likely</span>
      <span class="option-right-rating-text">Very likely</span>
    </div>
  </div>
</div>
