<div class="cc-question-container detail-box d-star-box" data-type="groupStar" data-id="{{questionId}}" data-required="{{isRequired}}">
  <div class="cc-question-container__text">
    <p>Personal Details:</p>
    <span>3. Please rate the in-store staff behaviour on a scale of 5.</span>
    <span class="cc-question-container__required">Required *</span>
    
  </div>
  <div class="cc-question-container__content rating-color" id="{{questionId}}">
    <div class="cc-question-container__list" >
      <span class="option-star-box"><img src="http://localhost:8080/images/Star_Icon.svg"></span>
      <span class="option-star-box"><img src="http://localhost:8080/images/Star_Icon.svg"></span>
      <span class="option-star-box"><img src="http://localhost:8080/images/Star_Icon.svg"></span>
      <span class="option-star-box"><img src="http://localhost:8080/images/Star_Icon.svg"></span>
      <span class="option-star-box"><img src="http://localhost:8080/images/Star_Icon.svg"></span>
    </div>
  </div>
</div>
