<div class="cc-question-container detail-box mobile-detail-box" data-type="groupSingleline" data-id="{{questionId}}" data-required="{{isRequired}}">
  <div class="cc-question-container__text">
    <p>Kindly enter your personal details below:</p>
    <span>Name</span>
    <span class="cc-question-container__required">Required *</span>
    
  </div>
  <div class="cc-question-container__content">
    <input type="text" id="{{questionId}}" name="" placeholder="Enter your full name" class="form-control">
  </div>
</div>
