<div class="cc-question-container radio-toggle radio-toggle--more-option" data-required="{{isRequired}}" data-type="radioMore" data-id="{{questionId}}">
  <div class="cc-question-container__text">
    <p class=""><span class="cc-question-container__required-label">{{requiredLabel}}</span>{{question}}</p>
    <span class="cc-question-container__required">Mandatory Question</span>
    
  </div>
  <div class="cc-question-container__content" id="{{questionId}}">
    <ul class="cc-question-container__list">
      <li>
        <div class="cc-checkbox cc-radio">
          <input type="radio" name="serv" id="service-one">
          <label class="ui checkbox" for="service-one"></label>
        </div>
        <span><label for="service-one">Learn more about a product</label></span>
      </li>
      <li>
        <div class="cc-checkbox cc-radio">
          <input type="radio" name="serv" id="service-two">
          <label class="ui checkbox" for="service-two"></label>
        </div>
        <span><label for="service-two">Troubleshoot an error</label></span>
      </li>
      <li>
        <div class="cc-checkbox cc-radio">
          <input type="radio" name="serv" id="service-three">
          <label class="ui checkbox" for="service-three"></label>
        </div>
        <span><label for="service-three">Understand a product</label></span>
      </li>
    </ul>
  </div>
</div>
