<div class="cc-question-container" data-type="nps" data-id="{{questionId}}" data-required="{{isRequired}}">
  <div class="cc-question-container__text">
    <p><span class="cc-question-container__required-label">{{requiredLabel}}</span>{{question}}</p>
    <span class="cc-question-container__required">* Mandatory Question</span>
  </div>
  <div class="cc-question-container__content rating-color act-cc-question-scale" id="{{questionId}}">
    <div class="cc-question-container__list">
      <div class="cc-options-container">
          <span data-rating="0" class="option-number-item mobile-hide option-zero">0</span>
          <span data-rating="1" class="option-number-item mobile-hide option-one">1</span>
          <span data-rating="2" class="option-number-item mobile-hide option-two">2</span>
          <span data-rating="3" class="option-number-item mobile-hide option-three">3</span>
          <span data-rating="4" class="option-number-item mobile-hide option-four">4</span>
          <span data-rating="5" class="option-number-item mobile-hide option-five">5</span>
          <span data-rating="6" class="option-number-item mobile-hide option-six">6</span>
          <span data-rating="7" class="option-number-item mobile-hide option-seven">7</span>
          <span data-rating="8" class="option-number-item mobile-hide option-eight">8</span>
          <span data-rating="9" class="option-number-item mobile-hide option-nine">9</span>
          <span data-rating="10" class="option-number-item mobile-hide option-ten">10</span>
          <div class="circle-image desktop-hide">
            <img src="http://localhost:8080/images/circle.png" class="cc-nps-image" alt="" usemap="#Map" />
            <map name="Map" id="Map">
                <area alt="" title="" href="#" shape="poly" class="option-number-item" data-rating="0" coords="49,192,91,229,111,191,83,169" />
                <area alt="" title="" href="#" shape="poly" class="option-number-item" data-rating="1" coords="29,139,47,189,83,166,70,135" />
                <area alt="" title="" href="#" shape="poly" class="option-number-item" data-rating="2" coords="35,83,29,136,71,131,75,96" />
                <area alt="" title="" href="#" shape="poly" class="option-number-item" data-rating="3" coords="36,79,67,35,95,66,75,94" />
                <area alt="" title="" href="#" shape="poly" class="option-number-item" data-rating="4" coords="69,32,117,7,127,49,97,64" />
                <area alt="" title="" href="#" shape="poly" class="option-number-item" data-rating="5" coords="120,7,175,7,165,48,131,48" />
                <area alt="" title="" href="#" shape="poly" class="option-number-item" data-rating="6" coords="178,7,168,49,197,64,225,32" />
                <area alt="" title="" href="#" shape="poly" class="option-number-item" data-rating="7" coords="200,67,220,95,260,80,229,35" />
                <area alt="" title="" href="#" shape="poly" class="option-number-item" data-rating="8" coords="221,98,224,131,266,136,259,83" />
                <area alt="" title="" href="#" shape="poly" class="option-number-item" data-rating="9" coords="224,135,266,139,248,191,212,167" />
                <area alt="" title="" href="#" shape="poly" class="option-number-item" data-rating="10" coords="184,191,203,230,246,194,211,169" />
            </map>
            <span class="cc-nps-selected-rating act-cc-nps-selected-rating  desktop-hide">0</span>
        </div>    
        <span class="clearfix"></span>
        <span class="option-left-rating-text mobile-hide">Not at all likely</span>
        <span class="option-right-rating-text mobile-hide">Very likely</span>
        <input type="hidden" value="" class="option-number-input">
      </div>
    
    </div>
  </div>
</div>