<div class="cc-question-container {{scaleImageContainer}}" data-type="scale" data-id="{{questionId}}" data-required="{{isRequired}}">
  <div class="cc-question-container__text">
    <p><span class="cc-question-container__required-label">{{requiredLabel}}</span>{{question}}</p>
    <span class="cc-question-container__required">Mandatory Question</span>
  </div>
  <div class="cc-question-container__content rating-color act-cc-question-nps" id="{{questionId}}">
    <div class="cc-question-container__list">
      {{optionsRange}}
      <div class="circle-image circle-image-scale-010-neutral desktop-hide {{imageVisibility010}}">
        <img src="{{mobileImageUrl}}" class="cc-nps-image" alt="" usemap="#Map" />
        <map name="Map" id="Map">
            <area target="" alt="0" title="0" href="#"  class="option-number-item" data-rating="0" coords="83,193,62,228,38,212,23,193,57,167" shape="poly">
            <area target="" alt="1" title="1" href="#"  class="option-number-item" data-rating="1" coords="54,165,21,189,11,173,4,154,2,140,43,134" shape="poly">
            <area target="" alt="2" title="2" href="#"  class="option-number-item" data-rating="2" coords="43,131,2,135,1,118,5,93,8,83,45,97" shape="poly">
            <area target="" alt="3" title="3" href="#"  class="option-number-item" data-rating="3" coords="48,92,10,78,17,61,28,44,39,32,66,66" shape="poly">
            <area target="" alt="4" title="4" href="#"  class="option-number-item" data-rating="4" coords="70,61,42,30,55,20,70,14,91,5,101,45" shape="poly">
            <area target="" alt="5" title="5" href="#"  class="option-number-item" data-rating="5" coords="105,44,92,5,113,2,134,3,147,5,139,46" shape="poly">
            <area target="" alt="6" title="6" href="#"  class="option-number-item" data-rating="6" coords="141,46,150,6,169,11,184,19,200,30,172,63" shape="poly">
            <area target="" alt="7" title="7" href="#"  class="option-number-item" data-rating="7" coords="175,63,202,34,218,48,227,66,232,78,194,93" shape="poly">
            <area target="" alt="8" title="8" href="#"  class="option-number-item" data-rating="8" coords="196,97,233,81,239,103,240,118,240,135,199,130" shape="poly">
            <area target="" alt="9" title="9" href="#"  class="option-number-item" data-rating="9" coords="199,135,240,140,236,159,229,175,221,189,187,167" shape="poly">
            <area target="" alt="10" title="10" href="#"  class="option-number-item" data-rating="10" coords="183,169,217,191,204,212,178,229,158,192" shape="poly">
        </map>
        <span class="cc-nps-selected-rating act-cc-nps-selected-rating  desktop-hide">0</span>
      </div>
      <div class="circle-image circle-image-scale-010-neutral desktop-hide {{imageVisibility110}}">
        <img src="{{mobileImageUrl}}" class="cc-nps-image" alt="" usemap="#Map2" />
        <map name="Map2" id="Map2">
          <area target="" alt="1" title="1" href="#"  class="option-number-item" data-rating="1" coords="67,180,40,210,26,195,15,176,11,169,47,152" shape="poly">
          <area target="" alt="2" title="2" href="#"  class="option-number-item" data-rating="2" coords="48,149,9,163,2,140,1,124,3,110,45,115" shape="poly">
          <area target="" alt="3" title="3" href="#"  class="option-number-item" data-rating="3" coords="44,110,4,105,8,79,17,67,22,57,58,79" shape="poly">
          <area target="" alt="4" title="4" href="#"  class="option-number-item" data-rating="4" coords="58,76,24,54,33,39,48,29,65,18,85,54" shape="poly">
          <area target="" alt="5" title="5" href="#"  class="option-number-item" data-rating="5" coords="87,51,68,15,85,7,106,3,120,3,122,45" shape="poly">
          <area target="" alt="6" title="6" href="#"  class="option-number-item" data-rating="6" coords="123,42,123,0,141,2,163,8,176,14,157,52" shape="poly">
          <area target="" alt="7" title="7" href="#"  class="option-number-item" data-rating="7" coords="159,53,180,16,201,30,212,44,220,54,186,77" shape="poly">
          <area target="" alt="8" title="8" href="#"  class="option-number-item" data-rating="8" coords="188,80,222,55,229,69,236,83,241,108,199,111" shape="poly">
          <area target="" alt="9" title="9" href="#"  class="option-number-item" data-rating="9" coords="200,116,239,112,241,128,240,146,234,165,196,150" shape="poly">
          <area target="" alt="10" title="10" href="#"  class="option-number-item" data-rating="10" coords="193,153,233,168,225,187,212,202,202,212,175,181" shape="poly">
        </map>
        <span class="cc-nps-selected-rating act-cc-nps-selected-rating  desktop-hide">0</span>
      </div>
      <span class="clearfix"></span>
      <span class="option-left-rating-text {{optionLeftExtraClass}}" style={{optionLeftStyle}}>{{leftLabel}}</span>
      <span class="option-right-rating-text {{optionRightExtraClass}}" style={{optionRightStyle}}>{{rightLabel}}</span>
      <input type="hidden" value="" class="option-number-input">
    </div>
  </div>
</div>
   {{style}}
  