<div class="cc-question-container single-line" data-required="{{isRequired}}" data-type="number" data-id="{{questionId}}">
  <div class="cc-question-container__text">
    <p><span class="cc-question-container__required-label">{{requiredLabel}}</span>{{question}}</p>
    <span class="cc-question-container__required">* Mandatory Question</span>
    
  </div>
  <div class="cc-question-container__content">
    <input type="text" name="" id="{{questionId}}" placeholder="Enter.." class="form-control">
  </div>
</div>
