<div class="act-cc-welcome-question-box cc-popup-container {{location}} {{animation}}" id="{{surveyToken}}-welcome">
  <div class="overlay glass"></div>
  <img src="https://cx.getcloudcherry.com/microsurvey-assets/Close_Icon.svg" class="is-cc-popup-container-close cc-popup-container__close act-cc-button-close">
  <div class="cc-message-box">
    <h2 class="cc-message-box__text">{{question}}</h2>
    <a href="#" class="cc-message-box__btn act-cc-survey-start mobile-hide" id="">{{button}}</a>
    <div class="submit-icon act-cc-survey-start desktop-hide"></div>
  </div>
</div>
