<div class="cc-survey cc-sdk" id="{{surveyToken}}-survey">
	<div class="cc-popup-container-2 {{animation}} {{location}}">
		<div class="ccsdk-overlay ccsdk-glass"></div>
		<div class="cc-popup-container-2__icons cc-left-icon">
			<span class="is-cc-popup-container-back cc-popup-container__back act-cc-button-prev"></span>
			<ul class="cc-sdk-loader">
				<li class="cc-sdk-chart" data-percent="75"></li>
			</ul>
		</div>
		<div class="cc-popup-container-2__icons cc-right-icon">
			<img src="https://cx.getcloudcherry.com/microsurvey-assets/Collapse_Icon.svg" class="is-cc-popup-container-minimize cc-popup-container__minimize act-cc-button-minimize mobile-hide">
			<img src="https://cx.getcloudcherry.com/microsurvey-assets/Close_Icon.svg" class="is-cc-popup-container-close cc-popup-container__close act-cc-button-close mobile-hide">
			<img src="https://cx.getcloudcherry.com/microsurvey-assets/Close_Icon2.svg" class="is-cc-popup-container-close cc-popup-container__close cc-popup-container__close2 act-cc-button-close desktop-hide">
		</div>
		<div class="cc-survey-container">
			<div class="cc-survey-content">
				<div class="cc-questions-container">

				</div>
			</div>
			<div class="submit-icon act-cc-button-next"></div>
			<div class="{{location}} progress-bar" id="progressBar">
				<span class="progress-line" id="progress-line"></span>
			</div>
		</div>
	</div>
</div>