<div class="cc-survey" id="{{surveyToken}}-survey">
	<div class="cc-popup-container-2 hide-bottom-up bottom" >
		<div class="overlay glass"></div>
		<div class="cc-popup-container-2__icons cc-left-icon">
			<img src="images/Back_Icon_.svg" class="is-cc-popup-container-back mobile-hide act-cc-button-prev">
			<ul class="loader">
			  <li class="chart" data-percent="75"></li>
			</ul>
		</div>
		<div class="cc-popup-container-2__icons cc-right-icon">
			<img src="images/Collapse_Icon.svg" class="is-cc-popup-container-minimize mobile-hide">
			<img src="images/Close_Icon.svg" class="is-cc-popup-container-close cc-popup-container__close mobile-hide">
			<img src="images/Close_Icon2.svg" class="is-cc-popup-container-close cc-popup-container__close desktop-hide">
		</div>
		<div class="cc-survey-container">
			<div class="cc-survey-content">
				<div class="cc-questions-container">

				</div>
			</div>
			<div class="submit-icon act-cc-button-next"></div>
			<div class="bottom progress-bar" id="progressBar">
				<span class="progress-line" id="progress-line"></span>
			</div>
		</div>
	</div>
</div>
