// body{
// 	margin: 0;
// 	padding: 0;
// 	font-family: "open sans", sans-serif;
// }
.cc-sdk ul{
	padding-left: 0;
	list-style-type: none;
	margin: 0;
}

.cc-sdk a,.cc-sdk a:hover,.cc-sdk a:focus{
	text-decoration: none;
	color: inherit;
}
.cc-sdk *, .cc-sdk *:before, .cc-sdk *:after {
	box-sizing: border-box;
}
.cc-sdk p{
	color: inherit;
	margin: 0;
}

.cc-sdk map area {
	outline:0;
	cursor: pointer;
}
.cc-sdk map area.selected{
	outline: 0px;
    outline-color: #0a2135;
    outline-width: 0px;
    outline-style: solid;
}

.cc-sdk map area:hover{
	outline:1;
}

// map area:nth-child(1):hover, map area:nth-child(1), map area.selected:nth-child(1){
// 	outline-color: #572526;
// 	outline-width: 10px;
// }