/** Checkbox **/
.cc-checkbox {
    display: table-cell;
    position: relative;
    text-align: left;
    vertical-align: middle;
}
.cc-checkbox label {
    cursor: pointer;
}
.cc-checkbox + span label img{
  width:40px;
}
.cc-checkbox label:before, .cc-checkbox label:after {
    bottom: 0;
    content: "";
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
}
.cc-checkbox label:before {
    background: transparent;
    border-radius: 2px;
    border: 1px solid rgb(66, 66, 66);
    cursor: pointer;
    height: 20px;
    transition: background .3s;
    width: 20px;
}
.cc-checkbox input[type="checkbox"] {
    margin-right: 10px;
    opacity: 0;
    outline: 0;
}
.cc-checkbox input[type="checkbox"]:checked + label:before {
    background: $cc-brand-1-color;
    border: none;
}
.cc-checkbox input[type="checkbox"]:checked + label:after {
    border: 3px solid #222;
    border-right-style: none;
    border-top-style: none;
    height: 7px;
    left: 4px;
    top: -3px;
    transform: rotate(-45deg);
    width: 12px;
}
/*radio*/
.cc-checkbox.cc-radio label:before {
    background: transparent;
    border: 1px solid rgb(66, 66, 66);
    cursor: pointer;
    height: 25px;
    transition: background .3s;
    width: 25px;
}
.cc-checkbox input[type="radio"] {
    margin-right: 10px;
    opacity: 0;
    outline: 0;
}
.cc-checkbox input[type="radio"]:checked + label:before {
    background: transparent;
    border-color: $cc-brand-1-color;
}
.cc-checkbox input[type="radio"]:checked + label:after {
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    -webkit-transform: scale(.8);
    background: $cc-brand-1-color;
    border-radius: 30px;
    height: 25px;
    transform: scale(.8);
    width: 25px;
}
.cc-radio label:before{
    border-radius: 30px;
}
.radio-toggle--more-option li span{
    padding-left: 25px !important;
    width: 125px !important;
}
.radio-toggle .cc-question-container__list li{
    padding-left: 52px;
}
.radio-toggle .cc-question-container__list li span{
    padding: 10px;
    width: auto;
}

@media (min-width: 768px) and (max-width: 992px){
    .radio-toggle .cc-question-container__list li {
        padding-left: 10px;
    }
    .radio-toggle .cc-question-container__list li span {
        padding: 10px;
    }
}

@media (max-width: 768px){
    .radio-toggle .cc-question-container__list li {
        padding-left: 0;
    }
    .radio-toggle .cc-question-container__list li{
        display: inline-block;
        padding-right: 50px;
    }
}
