.cc-sdk .cc-loaderimg {
    position: absolute;
    width: 100%;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    background: rgba(255,255,255,0.8);
    // display: none;
}
.cc-sdk .cc-loaderimg svg{
    width:100px;
}
