/*cc-question-container color scale css*/

.cc-sdk {
	.option-number-item {
		// color: #fff;
		// float: left;
		// font-size: 13px;
		// height: 32px;
		// margin-left: 1px;
		// padding-top: 7px;
		// text-align: center;
		// width: 32px;
		// cursor:pointer;
		color: #fff;
		float: left;
		font-size: 13px;
		height: 38px;
		box-sizing: border-box;
		padding-top: 10px;
		text-align: center;
		width: 8.5%;
		margin: 0 .25%;
		cursor: pointer;
		&.option-zero {
			background: #853838;
		}
		&.option-zero.selected,
		&.option-zero:hover {
			background: #572526;
		}
		&.option-one {
			background: #9e4343;
		}
		&.option-one.selected,
		&.option-one:hover {
			background: #642728;
		}
		&.option-two {
			background: #c14d4d;
		}
		&.option-two.selected,
		&.option-two:hover {
			background: #712827;
		} // remove cc-sdk
		&.option-three {
			background: #d94d4d;
		}
		&.option-three.selected,
		&.option-three:hover {
			background: #7c2828;
		}
		&.option-four {
			background: #ee4d4d;
		}
		&.option-four.selected,
		&.option-four:hover {
			background: #852828;
		}
		&.option-five {
			background: #ff4d4d;
		}
		&.option-five.selected,
		&.option-five:hover {
			background: #844828;
		}
		&.option-six {
			background: #ff8c4d;
		}
		&.option-six.selected,
		&.option-six:hover {
			background: #844828;
		}
		&.option-seven {
			background: #ffc74d;
		}
		&.option-seven.selected,
		&.option-seven:hover {
			background: #856728;
		}
		&.option-eight {
			background: #f5eb4d;
		}
		&.option-eight.selected,
		&.option-eight:hover {
			background: #7f7a28;
		}
		&.option-nine {
			background: #73ca81;
		}
		&.option-nine.selected,
		&.option-nine:hover {
			background: #3b6942;
		}
		&.option-ten {
			background: #4db47c;
		}
		&.option-ten.selected,
		&.option-ten:hover {
			background: #285e40;
		}
	}
	.cc-question-container[data-type="nps"] .option-number-item {
		width: 8.4%;
	}
	.cc-question-container[data-type="scale"].scale-image-container .option-number-item {
		width: 8.4%;
	}
	.cc-question-container__content.rating-color {
		margin-left: 74px;
	}
	.option-left-rating-text,
	.option-right-rating-text {
		// bottom: -25px;
		color: #424242;
		font-size: 13px;
		left: 0;
		position: absolute;
	}
	.option-left-rating-text-small-container {
		max-width: 57px;
		text-align: left;
		max-height: 37px;
		overflow: hidden; // bottom: auto;
		// top: 45px;
	}
	.option-right-rating-text-small-container {
		max-width: 57px;
		text-align: right;
		max-height: 37px;
		overflow: hidden; // bottom: auto;
		// top: 45px;
	}
	.option-left-rating-text-small-container-smile {
		max-width: 57px;
		text-align: left;
		max-height: 37px;
		overflow: hidden;
		bottom: auto !important;
		top: 57px;
	}
	.option-right-rating-text-small-container-smile {
		max-width: 57px;
		text-align: right;
		max-height: 37px;
		overflow: hidden;
		bottom: auto !important;
		top: 57px;
	}
	.cc-question-container[data-type="smile"] .option-left-rating-text,
	.cc-question-container[data-type="star"] .option-left-rating-text {
		left: 7px;
		bottom: -12px;
	}
	.option-right-rating-text {
		left: auto;
		right: 0;
	}
	.cc-question-container[data-type="smile"] .option-right-rating-text,
	.cc-question-container[data-type="star"] .option-right-rating-text {
		right: 36px;
		bottom: -12px;
	}
	.cc-question-container[data-type="scale"] .option-number-item {
		width: 38px;
		margin: 0 .5px;
		cursor: pointer;
		display: inline-block;
		float: none;
	}
	.cc-question-container[data-type="scale"] .cc-question-container__list {
		display: inline-block;
		width: auto;
		position: relative;
	}
	.cc-question-container[data-type="scale"].scale-image-container .cc-question-container__list {
		width: 100%;
	}
	.rating-color {
		position: relative;
	}
	.option-smile-box,
	.option-star-box {
		height: 60px;
		margin-right: 29px;
		width: 60px;
		cursor: pointer;
		box-sizing: border-box;
		border: solid 4px transparent;
		border-radius: 50%;
		display: inline-block;
		background-size: 100%;
	}
	.option-smile-box {
		&.cc-one {
			background: url('https://cx.getcloudcherry.com/microsurvey-assets/Smilie_1.svg') no-repeat;
			background-size: 100%;
		}
		&.cc-two {
			background: url('https://cx.getcloudcherry.com/microsurvey-assets/Smilie_2.svg') no-repeat;
			background-size: 100%;
		}
		&.cc-three {
			background: url('https://cx.getcloudcherry.com/microsurvey-assets/Smilie_3.svg') no-repeat;
			background-size: 100%;
		}
		&.cc-four {
			background: url('https://cx.getcloudcherry.com/microsurvey-assets/Smilie_4.svg') no-repeat;
			background-size: 100%;
		}
		&.cc-five {
			background: url('https://cx.getcloudcherry.com/microsurvey-assets/Smilie_5.svg') no-repeat;
			background-size: 100%;
		}
		&.cc-one.selected,
		&.cc-one:hover {
			background: url('https://cx.getcloudcherry.com/microsurvey-assets/Smilie_1_Selected.svg') no-repeat;
			background-size: 100%;
		}
		&.cc-two.selected,
		&.cc-two:hover {
			background: url('https://cx.getcloudcherry.com/microsurvey-assets/Smilie_2_Selected.svg') no-repeat;
			background-size: 100%;
		}
		&.cc-three.selected,
		&.cc-three:hover {
			background: url('https://cx.getcloudcherry.com/microsurvey-assets/Smilie_3_Selected.svg') no-repeat;
			background-size: 100%;
		}
		&.cc-four.selected,
		&.cc-four:hover {
			background: url('https://cx.getcloudcherry.com/microsurvey-assets/Smilie_4_Selected.svg') no-repeat;
			background-size: 100%;
		}
		&.cc-five.selected,
		&.cc-five:hover {
			background: url('https://cx.getcloudcherry.com/microsurvey-assets/Smilie_5_Selected.svg') no-repeat;
			background-size: 100%;
		}
	}
	.cc-csat.cc-question-container__content.rating-color {
		margin-left: 45px;
	}
	.option-csat.option-smile-box.selected,
	.option-csat.option-smile-box:hover,
	.option-csat.option-smile-box {
		background-size: 25px; // background-position: center;
		background-position: 18px center;
	}
	.option-csat.option-smile-box.selected,
	.option-csat.option-smile-box:hover {}
	.option-csat {
		height: 30px;
		margin-right: 68px;
		width: 30px;
		padding-left: 50px;
		font-size: 14px;
	}
	.option-csat {
		height: 45px;
		margin-right: 0px;
		width: auto;
		padding-left: 0px;
		font-size: 14px;
		vertical-align: middle;
		display: inline-block;
		margin-right: 13px;
		span {
			display: inline-block;
			vertical-align: top;
			font-size: 12px;
			padding-left: 25px;
			position: relative;
			text-align: left;
			/* min-height: 32px; */
			width: 100%;
		}
	}
	.option-star-box {
		background: url('https://cx.getcloudcherry.com/microsurvey-assets/Star.svg') no-repeat;
		background-size: 100%;
	}
	.option-star-box:hover,
	.option-star-box.selected {
		background: url('https://cx.getcloudcherry.com/microsurvey-assets/Star_selected.svg') no-repeat;
		background-size: 100%;
	}
	.cc-question-container[data-type="slider"] .option-left-rating-text {
		left: 4px;
	}
	.cc-question-container[data-type="smile"] .cc-question-container__list,
	.cc-question-container[data-type="star"] .cc-question-container__list {
		position: relative;
		width: auto;
		display: inline-block;
	}
	.circle-image {
		margin: auto;
		width: 253px;
		overflow: hidden;
		height: 240px;
		position: relative;
	}
	.circle-image-scale-010-neutral {
		width: 242px;
		overflow: hidden;
		height: 230px;
		margin: auto;
	}
	.cc-nps-selected-rating {
		font-size: 100px;
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0px;
		line-height: 100px;
		right: 0;
		margin: auto;
		bottom: 0;
		width: 110px;
		height: 100px;
		text-align: center;
		font-weight: 100;
		color: #bbb; // letter-spacing: -15px;
	}
	.cc-question-container[data-type="smile"] .option-right-rating-text,
	.cc-question-container[data-type="star"] .option-right-rating-text {
		right: 16px;
	}
	.option-number-item.option-scale {
		background: #4db47c;
	}
	.option-number-item.option-scale.selected,
	.option-number-item.option-scale:hover {
		background: #712827;
	}
	.cc-nps-image {
		cursor: pointer;
		position: relative;
		left: 0;
	}
	.legend-container {
		position: relative;
	}
}

@media (min-width: 769px) and (max-width: 992px) {
	.cc-sdk {
		.option-smile-box,
		.option-star-box {
			width: 50px;
			height: 50px;
			margin-right: 10px;
		}
		.option-csat.option-smile-box.selected,
		.option-csat.option-smile-box:hover,
		.option-csat.option-smile-box {
			display: inline-block;
			width: 168px;
			background-position: 48px center;
			span {
				padding-left: 40px;
			}
		}
	}
}

@media screen and (min-width: 992px) {
	.cc-sdk span.option-csat.option-smile-box {
		background-position: 44px center;
		&:hover,
		&.selected {
			background-position: 44px center;
		}
		span {
			padding-left: 40px;
		}
	}
}

@media (max-width: 768px) {
	.cc-sdk {
		.option-smile-box,
		.option-star-box {
			display: inline-block; // width: 18%;
			margin-right: 3px;
		}
		.option-csat.option-smile-box.selected,
		.option-csat.option-smile-box:hover,
		.option-csat.option-smile-box {
			display: block;
			background-size: 40px;
			background-position: 45px center;
		}
		.option-csat.option-smile-box {
			height: 65px;
			width: 100%;
		}
		.option-csat.option-smile-box span {
			font-size: 15px;
			padding-left: 40px;
		}
		.option-csat.option-smile-box .cc-checkbox {
			top: calc(50% - 12.5px);
			height: 57px;
		}
		.option-csat.option-smile-box .cc-checkbox.cc-radio label:before {
			width: 25px;
			height: 25px;
		}
		.option-csat.option-smile-box .cc-checkbox input[type="radio"]:checked+label:after {
			width: 25px;
			height: 25px;
		}
		.option-number-item {
			color: #fff;
			float: left;
			font-size: 15px;
			height: 35px;
			box-sizing: border-box;
			margin-right: 1px;
			padding-top: 7px;
			text-align: center;
			width: 38px;
			cursor: pointer;
			vertical-align: middle;
		}
		.cc-question-container[data-type="scale"] {
			bottom: 106px;
		}
		.cc-question-container[data-type="scale"] .option-left-rating-text,
		.cc-question-container[data-type="scale"] .option-right-rating-text {
			width: auto;
		}
		.cc-question-container[data-type="scale"] .option-right-rating-text {
			text-align: right;
		}
		.option-smile-box img,
		.option-star-box img {
			padding-right: 5px;
			margin-right: 0;
		}
		.cc-question-container[data-type="nps"] .cc-question-container__content {
			width: 100% !important;
		}
		.cc-question-container[data-type="smile"] .option-right-rating-text,
		.cc-question-container[data-type="star"] .option-right-rating-text {
			right: 10px;
		}
		.cc-question-container[data-type="scale"] .cc-question-container__list {
			width: 100%;
		}
		.cc-question-container[data-type="csat"] .cc-question-container__list {
			li {
				width: 100%;
			}
		}
	}
}

@media (max-width: 381px) {
	.cc-sdk {
		.option-smile-box,
		.option-star-box {
			display: inline-block; // width: 18%;
			margin-right: 0;
			height: 50px;
			width: 50px;
		}
		.option-smile-box img,
		.option-star-box img {
			padding-right: 5px;
			margin-right: 0;
		}
	}
}

@media screen and (max-width: 768px) {
	.cc-sdk {
		.radial-legend-right,
		.cc-question-container[data-type="scale"] span.radial-legend-right {
			text-align: left;
			width: 35%;
		}
		.radial-legend-left {
			width: 35%;
			text-align: right;
		}
	}
}