.cc-select-wrapper {
    position: relative;
    display: inline-block;
    user-select: none;
    z-index:11;
}
.cc-select-wrapper select {
    display: none;
}
.cc-select {
    position: relative;
    display: inline-block;
}
.cc-select-trigger {
    position: relative;
    display: block;
    width: 130px;
    padding: 0 84px 0 22px;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: #222;
    line-height: 20px;
    background: transparent;
    border-radius: 0;
    cursor: pointer;
    width: 300px;
    border-bottom: 1px solid #6d6d6d;
    display: inline-block;
    text-align: left;
    // padding: 5px;
    padding: 5px 20px 5px 5px;
    position: relative;
    /*background-image: url(../images/arrow-down.black.svg);*/
    background-position: 97% center;
    background-repeat: no-repeat;
    max-height: 50px;
    overflow: hidden;
}
.cc-select-trigger:after {
    position: absolute;
    display: block;
    content: '';
    width: 10px; height: 10px;
    top: 50%; right: 5px;
    margin-top: -3px;
    border-bottom: 1px solid #222;
    border-right: 1px solid #222;
    transform: rotate(45deg) translateY(-50%);
    transition: all .2s ease-in-out;
    transform-origin: 50% 0;
}
.cc-select.opened .cc-select-trigger:after {
    margin-top: 3px;
    transform: rotate(-135deg) translateY(-50%);
}
.cc-select-options-container {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    min-width: 100%;
    margin: 15px 0;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0,0,0,.07);
    background: #fff;
    transition: all .2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(calc( -100% - 65px ));
    // height: 150px;
    height: auto;
    max-height: 150px;
    overflow: hidden;
    overflow-y: scroll;
}

.cc-select-options{
    /*  max-height: 150px;
    overflow-y: scroll; */
    // overflow: scroll;
    // height: 100%;
    overflow-y: scroll;
    height: 100%;
    width: 110%;
}
.cc-select.opened .cc-select-options-container {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(calc( -100% - 65px ));
}

.cc-popup-container-2.top .cc-select-options-container,
.cc-popup-container-2.top .cc-select.opened .cc-select-options-container{
    transform: translateY(calc( -100% + 75px ));
}

.cc-select-options:before {
    /*       position: absolute;
    display: block;
    content: '';
    bottom: 100%; right: 25px;
    width: 7px; height: 7px;
    margin-bottom: -4px;
    border-top: 1px solid #b5b5b5;
    border-left: 1px solid #b5b5b5;
    background: #fff;
    transform: rotate(45deg);
    transition: all .4s ease-in-out; */
}
.option-hover:before {
    background: #f9f9f9;
}
.cc-select-option {
    position: relative;
    display: block;
    padding: 0 12px;
    border-bottom: 1px solid #e4e4e4;
    font-size: 12px;
    font-weight: 600;
    color: #222;
    line-height: 34px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    text-align: left;
    margin: 0;
    width: 100%;
}
.cc-select-option:first-of-type {
    border-radius: 4px 4px 0 0;
}
.cc-select-option:last-of-type {
    border-bottom: 0;
    border-radius: 0 0 4px 4px;
}
.cc-select-option:hover,
.cc-select-option.selection {
    // background: #f9f9f9;
    background: #eaeaea;
    // margin: 0;
    // width: 100%;
}

.cc-select-wrapper.down .cc-select-options-container {
    transform: translateY(calc( 20px ));
}
.cc-select-wrapper.down .cc-select.opened .cc-select-options-container {
    transform: translateY(calc( 20px ));
}

.option-yes-no.No{
    // background:url('https://cx.getcloudcherry.com/microsurvey-assets/Star_selected.svg') no-repeat;	
    // background-size:100%;
    position: relative;
    top: 4px;
}

.cc-question-container[data-type="nps"] .cc-question-container__content,
    .cc-question-container[data-type="scale"] .cc-question-container__content{
    width: 40%;
}



@media (max-width: 767px){
    .cc-select,.cc-select-wrapper{
        min-width: 100%;
    }
    .cc-select-trigger {
        min-width: 100%;
        width: auto;
    }
}
