/*cc-question-container color scale css*/
.option-number-item{
	color: #fff;
	float: left;
	font-size: 13px;
	height: 32px;
	margin-left: 1px;
	padding-top: 7px;
	text-align: center;
	width: 32px;
	cursor:pointer;
}
.option-number-item.option-zero{
	background: #853838;
}
.option-number-item.option-zero.selected,
.option-number-item.option-zero:hover{
	background: #572526;
}

.option-number-item.option-one{
	background: #9e4343;
}
.option-number-item.option-one.selected,
.option-number-item.option-one:hover{
	background: #642728;
}

.option-number-item.option-two{
	background: #c14d4d;
}
.option-number-item.option-two.selected,
.option-number-item.option-two:hover{
	background: #712827;
}

.option-number-item.option-three{
	background: #d94d4d;
}
.option-number-item.option-three.selected,
.option-number-item.option-three:hover{
	background: #7c2828;
}

.option-number-item.option-four{
	background: #ee4d4d;
}
.option-number-item.option-four.selected,
.option-number-item.option-four:hover{
	background: #852828;
}

.option-number-item.option-five{
	background: #ff4d4d;
}
.option-number-item.option-five.selected,
.option-number-item.option-five:hover{
	background: #844828;
}

.option-number-item.option-six{
	background: #ff8c4d;
}
.option-number-item.option-six.selected,
.option-number-item.option-six:hover{
	background: #844828;
}

.option-number-item.option-seven{
	background: #ffc74d;
}
.option-number-item.option-seven.selected,
.option-number-item.option-seven:hover{
	background: #856728;
}

.option-number-item.option-eight{
	background: #f5eb4d;
}
.option-number-item.option-eight.selected,
.option-number-item.option-eight:hover{
	background: #7f7a28;
}

.option-number-item.option-nine{
	background: #73ca81;
}
.option-number-item.option-nine.selected,
.option-number-item.option-nine:hover{
	background: #3b6942;
}

.option-number-item.option-ten{
	background: #4db47c;
}
.option-number-item.option-ten.selected,
.option-number-item.option-ten:hover{
	background: #285e40;
}

.cc-question-container__content.rating-color{
	margin-left: 74px;
}

.option-left-rating-text,.option-right-rating-text{
	bottom: -25px;
	color: #424242;
	font-size: 13px;
	left: 0;
	position: absolute;
}
.option-right-rating-text{
	left: auto;
	right: 0;
}
.rating-color{
	position: relative;
}
// .option-smile-box img,.option-star-box img{
// 	height: 60px;
// 	margin-right: 29px;
// 	width: 60px;
// 	cursor : pointer;
// 	border:solid 4px transparent;
// 	border-radius: 50%;
// }
// .option-smile-box.selected img,.option-star-box.selected img,
// .option-smile-box:hover img,.option-star-box:hover img{
// 	border:solid 4px red;
// }
// .option-star-box img{
// 	margin-right: 19px;
// }

.option-smile-box, .option-star-box{
	height: 60px;
	margin-right: 29px;
	width: 60px;
	cursor : pointer;
	border:solid 4px transparent;
	border-radius: 50%;
	display:inline-block;
}
.option-smile-box.sad{
	background:url('../images/Sad_Smilie.svg') no-repeat;	
	background-size:100%;
	
}	
.option-smile-box.straight{
	background:url('../images/StraightFace_smilie.svg') no-repeat;
	background-size:100%;
}
.option-smile-box.meh{
	background:url('../images/smiley_meh_icon.svg') no-repeat;	
	background-size:100%;
}	
.option-smile-box.smiling{
	background:url('../images/Similing_Smilie.svg') no-repeat;	
	background-size:100%;
}	
.option-smile-box.happy{
	background:url('../images/Happy_Smilie.svg') no-repeat;	
}	
.option-smile-box.sad.selected,
.option-smile-box.sad:hover{
	background:url('../images/smiley_Sad_icon_Selected.svg') no-repeat;	
	background-size:100%;
}	
.option-smile-box.straight.selected,
.option-smile-box.straight:hover{
	background:url('../images/smiley_Straightface_icon_Selected.svg') no-repeat;
	background-size:100%;
}
.option-smile-box.meh.selected,
.option-smile-box.meh:hover{
	background:url('../images/smiley_meh_icon_Selected.svg') no-repeat;	
	background-size:100%;
}	
.option-smile-box.smiling.selected,
.option-smile-box.smiling:hover{
	background:url('../images/smiley_Happy_icon_Selected.svg') no-repeat;	
	background-size:100%;
}	
.option-smile-box.happy.selected,
.option-smile-box.happy:hover{
	background:url('../images/smiley_very_Happy_icon_Selected.svg') no-repeat;	
	background-size:100%;
}

.option-star-box{
	background:url('../images/Star_Icon.svg') no-repeat;	
	background-size:100%;
}
.option-star-box:hover,
.option-star-box.selected{
	background:url('../images/Selected_Star_Icon.svg') no-repeat;	
	background-size:100%;
}

@media (min-width: 768px) and (max-width: 992px){
	.option-smile-box img, .option-star-box img {
	    width: 50px;
	    height: 50px;
	    margin-right: 10px;
    }
}
@media (max-width: 768px){
	.option-smile-box,.option-star-box{
		display: inline-block;
		width: 18%;
	}
	.option-smile-box img, .option-star-box img{
		padding-right: 5px;
		margin-right: 0;
	}
}

.option-number-item.option-nps{
	background: #4db47c;
}

.option-number-item.option-nps.selected,
.option-number-item.option-nps:hover{
	background: #712827;
}