
.cc-popup-container{
	background: #fff;
	box-shadow: 0 0 4px 5px rgba(0,0,0,0.05);
	font-family: "open sans", sans-serif;
	// margin: 9px;
	position: fixed;
	text-align: center;
	// height: 152px;
	// width: 198px;
	max-width:500px;
	max-height:500px;
	z-index: 1111;
	padding:10px;

}
.cc-popup-container.bottom{
		margin-bottom:9px;
}
.cc-popup-container.top{
		margin-top:9px;

}
.cc-popup-container{

}
 .cc-question-container{
 }
 .cc-popup-container-2{
	// display: none;
}


#cc-thankyou-container .cc-question-container__text p,
#cc-thankyou-container .cc-question-container__text{
		width:400px;
		// font-size: 20px;
		max-width:initial;
		font-size: 17px;
    	color: #424242;
}

.cc-message-box{
	position: relative;
	z-index: 11;
}
.cc-message-box__text{
	color: $color-2;
	font-size: 14px;
	font-weight: 600;
	margin: 0;
	padding: 29px 14px 20px 14px;
	vertical-align: middle;
}
.cc-message-box__btn{
	background: $cc-brand-1-color;
	border-radius: 100px;
	display: inline-block;
	font-size: 15px;
	font-weight: 700;
	height: 32px;
	padding: 6px 0;
	width: 124px;
}
.cc-popup-container .cc-popup-container__close{
	cursor: pointer;
	margin: 4px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 111;
}
.cc-popup-container-2{
	/* box-shadow: 0 0 4px 5px rgba(0,0,0,0.05); */
	height: 144px;
	// padding: 8px;
	position: fixed;
	width: 100%;
	z-index: 1111;
}

.cc-popup-container-2__icons,.cc-popup-container-2__icons{
	cursor: pointer;
	padding: 8px;
	position: absolute;
	top: 0;
	z-index: 111;
}
.top.cc-popup-container-2 .cc-popup-container-2__icons{
	padding-top:15px;
}
.cc-popup-container-2__icons.cc-right-icon{
	right: 0;
}
.cc-popup-container-2__icons.cc-left-icon{
	left: 0;
}
.cc-popup-container__back {
	background-image: url(https://cx.getcloudcherry.com/microsurvey-assets/Back_Icon_.svg);
	display: inline-block;
    width: 21px;
    height: 21px;
}

.cc-question-container{
	/* margin: auto; */
	margin-right: 147px;
	padding: 20px 20px 25px;
	
	position: absolute;
	text-align: center;
	width: calc( 100% - 147px);
	z-index: 11;
	top:0;
	left:0;
}
.cc-question-container__text{
	/*height: 80px;*/
	color: $color-2;
	display: inline-block;
	font-size: 15px;
	font-weight: 600;
	max-width: 230px;
	padding: 8px 0;
	text-align: center;
	vertical-align: middle;
	width: 20%;
	position: relative;
}
.cc-question-container__required{
		position: absolute;
	// top: 0;
	top: -14px;
    font-size: 11px;
    // right: 1%;
    left: 0;
    font-weight: normal;
    color: #C1272D;
		display: none;
}
.cc-question-container__required-label {
	display: inline-block;
    position: relative;
    top: -2px;
    left: -2px;
}

.cc-question-container__content{
	display: inline-block;
	max-width: 78%;
	vertical-align: middle;
	width: auto;
}
.cc-question-container__list li{
	display: inline-block;
	padding-left: 29px;
	vertical-align: middle;
}

.cc-question-container__list li span{
	display: table-cell;
	font-size: 15px;
	padding-left: 15px;
	text-align: left;
	vertical-align: middle;
	width: 125px;
}
.cc-question-container__list li input{
	vertical-align: middle;
}

.cc-question-container:before{
	content: '';
	display: inline-block;
	height: 100%;
	margin-right: -4px;
	vertical-align: middle;
}

.cc-question-container {
	height: 100%;
	vertical-align: middle;
}
.cc-questions-container{
	height: 100%;
}

p.cc-thankyou-powered{
	font-size: 13px!important;
    color: #404040!important;
    font-style: italic;
    margin-top: 4px;
}
.cc-thankyou-powered .cc-thankyou-logo{
	// background:url('https://cx.getcloudcherry.com/microsurvey-assets/cc-thankyou-logo.svg');
	background:url('http://localhost:8080/images/cc-thankyou-logo.svg');
	background-size: cover;
	margin-right:8px;
	display: inline-block;
	width:16px;
	height: 16px;
}

.multiline-box{
	background: #fff;
	border-radius: 2px;
	border:1px #6d6d6d solid;
	font-family: 'Open Sans';
	font-size: 15px;
	height:70px;
	margin: 0 0px 0 50px;
	min-width:600px;
	padding:2px 5px;
	resize:none;
}
.multiline-box:focus{
	outline: 0;
}
.detail-box .cc-question-container__text p{
	font-size: 13px;
	font-weight: 700;
}
.detail-box .cc-question-container__text span{
	display: inline-block;
	font-size: 15px;
	font-weight: normal;
}
.detail-box .cc-question-container__text {
	height: 56px;
}
.detail-box[data-type="singleline"] .cc-question-container__text {
	margin-right:20px;
}	
.detail-box .cc-question-container__content .form-control,
.single-line .cc-question-container__content .form-control{
	background: transparent;
	border: none;
	border-bottom: 1px solid #6d6d6d;
	font-family: "open sans";
	font-size: 15px;
	line-height: 26px;
	outline: 0;
	width: 300px;
}

.d-star-box.detail-box .cc-question-container__text{
	height: 92px;
}

.hl.dropdown{
	background-image: url('https://cx.getcloudcherry.com/microsurvey-assets/arrow-down.black.svg');
	background-position: 97% center;
	background-repeat: no-repeat;
	border-bottom: 1px solid #6d6d6d;
	display: inline-block;
	padding: 5px;
	position: relative;
	text-align: left;
	width: 300px;
}
.drop-cc-question-container .cc-question-container__text{
	/*height: 60px;*/
	margin-right: 20px;
}
.form-control:focus{
	border-color: #fcaf18;
}

.detail-box .cc-question-container__content{
	padding-left: 0;
}
.cc-big-list-container .cc-question-container__list{
	display: table;
	width: 100%;
}
.cc-big-list-container .cc-question-container__list li{
	display: table-cell;
	vertical-align: middle;
}

.cc-thankyou-container {
    width: 100% !important;
}
.submit-icon{
	direction:ltr;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 11;
	margin-right: 75px;
	font-size:16px #{"/*rtl:14px*/"};
    cursor: pointer;
     background-image: url("data:image/svg+xml,%3Csvg width='47px' height='47px' viewBox='0 0 47 47' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 46 %2844423%29 - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3EGroup 16%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3Ccircle id='path-1' cx='19.3130459' cy='19.3130459' r='19.3130459'%3E%3C/circle%3E%3Cfilter x='-18.1%25' y='-12.9%25' width='136.2%25' height='136.2%25' filterUnits='objectBoundingBox' id='filter-2'%3E%3CfeOffset dx='0' dy='2' in='SourceAlpha' result='shadowOffsetOuter1'%3E%3C/feOffset%3E%3CfeGaussianBlur stdDeviation='2' in='shadowOffsetOuter1' result='shadowBlurOuter1'%3E%3C/feGaussianBlur%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.116423234 0' type='matrix' in='shadowBlurOuter1'%3E%3C/feColorMatrix%3E%3C/filter%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='1-copy-20' transform='translate%28-1246.000000, -664.000000%29'%3E%3Cg id='Group-16' transform='translate%281250.000000, 666.000000%29'%3E%3Cg id='Oval-4'%3E%3Cuse fill='black' fill-opacity='1' filter='url%28%23filter-2%29' xlink:href='%23path-1'%3E%3C/use%3E%3Cuse fill='' fill-rule='evenodd' xlink:href='%23path-1'%3E%3C/use%3E%3C/g%3E%3Cg id='Group-5' transform='translate%2812.000000, 11.000000%29' fill-rule='nonzero' fill='%23404041'%3E%3Cg id='fast-forward-arrows' transform='translate%286.173934, 0.000000%29'%3E%3Cpolygon id='Shape' points='0.993357559 0 0 0.993357559 7.30823082 8.3015552 0 15.6097197 0.993357559 16.6030772 9.29491276 8.3015552'%3E%3C/polygon%3E%3C/g%3E%3Cg id='fast-forward-arrows-copy'%3E%3Cpolygon id='Shape' points='0.993357559 0 0 0.993357559 7.30823082 8.3015552 0 15.6097197 0.993357559 16.6030772 9.29491276 8.3015552'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    width:47px;
    height:47px;
}

@media (min-width: 767px) and (max-width: 1024px){
	.cc-popup-container-2 {
		height: 300px;
	}
	.cc-big-list-container .cc-question-container__list,.cc-question-container__list{
		text-align: left;
	}
	.cc-big-list-container .cc-question-container__list li ,.cc-question-container__list li{
		display: inline-block;
		margin-bottom: 15px;
		vertical-align: middle;
		width: 49%;
	}
	.cc-question-container__content {
		display: inline-block;
		width: 45%;
	}
	.multiline-box{
		min-width: 100%;
		margin: 0;
	}

	.option-smile-box img, .option-star-box img {
	    margin-right: 11px !important;
	}
	.cc-thankyou-container .cc-question-container__text p,
	.cc-thankyou-container .cc-question-container__text{
 	    width: 100% !important;
		text-align: center;
		margin: 0 !important;
		padding: 0;
		line-height: initial;
		height: auto;
	}
	 .cc-thankyou-container .cc-question-container__text{
		max-width: 98%;
	 }
}

@media (min-width: 767px) and (max-width: 992px){
	.cc-question-container {
		width: 100%;
		margin: auto;
	}
	.cc-question-container__text {
		width: 24%;
		padding-right: 20px;
	}
	.cc-question-container__content.rating-color {
		margin-left: 0px;
	}
	.submit-icon{
		margin-right: 40px !important;
	}
	.cc-question-container__content.rating-color {
		    margin-left: 0px !important;
	}
	.cc-question-container__content {
		width: 50% !important;  
	}
}
@media (max-width: 767px){
	.cc-survey-container,.cc-survey-content{
		height: 100%;
	}
	.cc-popup-container-2{
		bottom: auto;
		height: 100%;
		top: 0;
	}
	.cc-popup-container-2__icons.cc-right-icon {
		left: initial;
		right: 0;
		padding:0;
	}
	.cc-popup-container-2__icons.cc-left-icon {
		left: 0;
		right: initial;
		padding:0;
	}
	.cc-big-list-container .cc-question-container__list li {
		display: block;
	}
	.radio-toggle--more-option li span {
		width: 84% !important;
		padding-left: 25px !important;
	}
	.radio-toggle--more-option li{
		padding-right: 0 !important;
		display: block !important;
		padding-top: 10px;
	}
	.detail-box .cc-question-container__content {
		padding-left: 0px;
	}
	.cc-question-container{
		bottom: 75px;
		height: auto;
		left: 0;
		padding: 40px 20px;
		position: absolute;
		text-align: left;
		top: auto;
		width: 100%;
	}
	.cc-question-container__text{
		font-size: 18px;
		margin-bottom: 20px;
		max-width: 400px;
		text-align: left;
		width: 100%;
	}
	.cc-question-container__content {
		display: block;
		max-width: 100%;
		width: 100%;
	}
	.cc-question-container__list label{
		display: block;
	}
	.cc-question-container__list li span{
		width: auto;
	    padding-left: 15px;
	}
	.cc-question-container__list li{
		padding-left: 0;
		margin-bottom: 10px;
		display: block;
	}
	.cc-popup-container-2__icons{
		margin: 20px;
	}
	.cc-popup-container-2__icons.left-icon{
		left: auto;
		right: 0;
	}
	.cc-popup-container-2__icons.right-icon{
		right: auto;
		left: 0;
	}
	.cc-popup-container__close{
		width: 27px;
	}
	.cc-question-container__content.rating-color {
	    margin-left: 0!important;
	}
	.cc-question-container[data-type="nps"] .cc-question-container__content, .cc-question-container[data-type="scale"] .cc-question-container__content{
		width:100%!important;
	}
	.multiline-box{
		height: 150px;
		margin: 0;
		min-width: 100%;
		width: 100%;
	}
	.hl.dropdown{
		width: 100%;
	}

	.detail-box .cc-question-container__content .form-control{
		width: 100%;
	}
	.detail-box .cc-question-container__text p{
		font-size: 18px;
	}
	.mobile-detail-box .cc-question-container__text{
		height: auto;
	}
	.welcome-box .cc-question-container__text p{
		color: #fff;
	}
	.cc-questions-container{
		height: 100%;
		position: relative;
	}
}

@media(max-width: 767px){

	.submit-icon {
	    position: absolute;
	    left: 20px;
	    top: auto;
	    bottom: 30px;
	    padding-right: 0;
	}
	.cc-popup-container{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		margin: 0;
		width: 100%;
		height: 100%;
		max-width: 100%;
		max-height: 100%;
		text-align: left;
		background: transparent;
	}
	.cc-popup-container .cc-message-box{
		position: absolute;
		bottom: 20%;
	}
	.cc-popup-container .cc-message-box .cc-message-box__text{
		font-size: 20px;
	}
		
	.cc-popup-container .cc-message-box .submit-icon{
		position: absolute;
		bottom: -100%;
		top: initial;
		left: 0;
		margin: 0 14px;
	}
	.cc-popup-container .cc-popup-container__close{
		margin:20px;
		right:0;
		top:0;

	}
	.cc-popup-container__back {
		background-image: url(https://cx.getcloudcherry.com/microsurvey-assets/Back_Icon_.svg);
		display: inline-block;
		width: 27px;
		height: 27px;
		background-size: 100%;
	}
	.cc-question-container__required-label{
		display: block;
		left:0;
		top:2px;
	}

	.cc-thankyou-container .cc-question-container__text p,
	.cc-thankyou-container .cc-question-container__text{
 	    width: 100% !important;
		text-align: center;
		margin: 0 !important;
		padding: 0;
		line-height: initial;
		height: auto;
	}
	 .cc-thankyou-container .cc-question-container__text{
		max-width: 98%;
	 }

	

	
		
}