[dir="rtl"].cc-sdk {
    ul {
        padding-right: 0;
    }
    &.cc-popup-container .cc-popup-container__close {
        right: auto;
        left: 0;
        top: 0;
    }
    &.cc-popup-container .cc-message-box .cc-message-box__text {
        text-align: right;
    }
    .cc-popup-container__back {
        background-image: url(https://cx.getcloudcherry.com/microsurvey-assets/Back_Icon_rtl_.svg);
    }
    .cc-popup-container-2__icons.cc-right-icon {
        right: auto;
        left: 0;
    }
    .cc-popup-container-2__icons.cc-left-icon {
        right: 0;
        left: auto;
    }
    &.cc-question-container {
        // /* margin: auto; */
        margin-left: 0;
        margin-right: 0;
        right: 0;
        left: auto;
    }
    .cc-question-container__required,
    .cc-question-container__validation {
        right: 0%;
        left: auto;
    }
    .cc-question-container__required-label {
        top: -2px;
        right: -2px;
        left: auto;
    }
    .cc-question-container__list li {
        display: inline-block; // padding-right: 29px;
        padding-right: 15px !important; // padding-left: 0;
        padding-left: 15px !important;
        vertical-align: middle;
    }
    .cc-question-container[data-type="checkbox"] .cc-question-container__list li {
        padding-right: 0 !important;
    }
    .cc-question-container__list li span {
        padding-right: 15px;
        padding-left: 0;
        text-align: right;
    }
    .cc-question-container:before {
        margin-left: -4px;
        margin-right: 0;
    }
    .multiline-box {
        margin: 0 50px 0 0px;
    }
    .hl.dropdown {
        background-position: 97% center;
        text-align: right;
    }
    .drop-cc-question-container .cc-question-container__text {
        margin-left: 20px;
        margin-right: 0;
    }
    .detail-box .cc-question-container__content {
        padding-right: 0;
        padding-left: 0;
    }
    .cc-question-container__content {
        text-align: right;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    [dir="rtl"].cc-sdk {
        .cc-big-list-container .cc-question-container__list,
        .cc-question-container__list {
            text-align: right;
        }
        .multiline-box {
            margin: 0 0px 0 0px;
        }
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    [dir="rtl"].cc-sdk {
        .cc-question-container__text {
            padding-left: 20px;
            padding-right: 0;
        }
        .cc-question-container__content.rating-color {
            margin-left: 0px;
            margin-right: 0px;
        }
    }
}

@media (max-width: 768px) {
    [dir="rtl"].cc-sdk {
        .cc-popup-container-2__icons.cc-right-icon {
            left: 0;
            right: auto;
        }
        .cc-popup-container-2__icons.cc-left-icon {
            left: auto;
            right: 0;
        }
        .radio-toggle--more-option li span {
            padding-right: 25px !important;
            padding-left: 0 !important;
        }
        .radio-toggle--more-option li {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
        .detail-box .cc-question-container__content {
            padding-left: 0px;
            padding-right: 0px;
        }
        .cc-question-container {
            left: auto;
            right: 0;
        }
        .multiline-box {
            margin: 0;
        }
        .cc-question-container__text {
            text-align: right;
            width: 100%;
            margin-right: 5px;
            max-width: 100%;
        }
        .cc-question-container__list li span {
            padding-right: 15px;
            padding-left: 0px;
        }
        .cc-question-container__list li {
            padding-left: 0;
            padding-right: 0;
        }
        .cc-popup-container-2__icons.left-icon {
            left: 0;
            right: auto;
        }
        .cc-popup-container-2__icons.right-icon {
            right: 0;
            left: auto;
        }
        .cc-question-container__content.rating-color {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }
}