/*cc-question-container color scale css*/
.option-number-item{
	// color: #fff;
	// float: left;
	// font-size: 13px;
	// height: 32px;
	// margin-left: 1px;
	// padding-top: 7px;
	// text-align: center;
	// width: 32px;
	// cursor:pointer;
	color: #fff;
    float: left;
    font-size: 13px;
    height: 38px;
    padding-top: 10px;
    text-align: center;
    width: 8.5%;
    margin: 0 .25%;
    cursor: pointer;
}
.option-number-item.option-zero{
	background: #853838;
}
.option-number-item.option-zero.selected,
.option-number-item.option-zero:hover{
	background: #572526;
}

.option-number-item.option-one{
	background: #9e4343;
}
.option-number-item.option-one.selected,
.option-number-item.option-one:hover{
	background: #642728;
}

.option-number-item.option-two{
	background: #c14d4d;
}
.option-number-item.option-two.selected,
.option-number-item.option-two:hover{
	background: #712827;
}

.option-number-item.option-three{
	background: #d94d4d;
}
.option-number-item.option-three.selected,
.option-number-item.option-three:hover{
	background: #7c2828;
}

.option-number-item.option-four{
	background: #ee4d4d;
}
.option-number-item.option-four.selected,
.option-number-item.option-four:hover{
	background: #852828;
}

.option-number-item.option-five{
	background: #ff4d4d;
}
.option-number-item.option-five.selected,
.option-number-item.option-five:hover{
	background: #844828;
}

.option-number-item.option-six{
	background: #ff8c4d;
}
.option-number-item.option-six.selected,
.option-number-item.option-six:hover{
	background: #844828;
}

.option-number-item.option-seven{
	background: #ffc74d;
}
.option-number-item.option-seven.selected,
.option-number-item.option-seven:hover{
	background: #856728;
}

.option-number-item.option-eight{
	background: #f5eb4d;
}
.option-number-item.option-eight.selected,
.option-number-item.option-eight:hover{
	background: #7f7a28;
}

.option-number-item.option-nine{
	background: #73ca81;
}
.option-number-item.option-nine.selected,
.option-number-item.option-nine:hover{
	background: #3b6942;
}

.option-number-item.option-ten{
	background: #4db47c;
}
.option-number-item.option-ten.selected,
.option-number-item.option-ten:hover{
	background: #285e40;
}
.cc-question-container[data-type="nps"] .option-number-item{
	width:8.4%;
}
.cc-question-container[data-type="nps"] .option-number-item.option-seven{
	margin-left:4px;
}
.cc-question-container[data-type="nps"] .option-number-item.option-nine{
	margin-left:4px;
}
.cc-question-container[data-type="scale"].scale-image-container .option-number-item{
	width:8.4%;
}

.cc-question-container__content.rating-color{
	margin-left: 74px;
}

.option-left-rating-text,.option-right-rating-text{
	bottom: -25px;
	color: #424242;
	font-size: 13px;
	left: 0;
	position: absolute;
}
.option-left-rating-text-small-container{
	max-width: 57px;
    text-align: left;
    max-height: 37px;
	overflow: hidden;
	bottom:auto;
	top:45px;
}
.option-right-rating-text-small-container{
	max-width: 57px;
    text-align: right;
    max-height: 37px;
	overflow: hidden;
	bottom:auto;
	top:45px;
}
.option-left-rating-text-small-container-smile{
	max-width: 57px;
    text-align: left;
    max-height: 37px;
	overflow: hidden;
	bottom:auto!important;
	top:57px;
}
.option-right-rating-text-small-container-smile{
	max-width: 57px;
    text-align: right;
    max-height: 37px;
	overflow: hidden;
	bottom:auto!important;
	top:57px;
}
.cc-question-container[data-type="smile"] .option-left-rating-text,
.cc-question-container[data-type="star"] .option-left-rating-text{
	left:7px;
	bottom:-12px;
}
.option-right-rating-text{
	left: auto;
	right: 5px;
}
.cc-question-container[data-type="smile"] .option-right-rating-text,
.cc-question-container[data-type="star"] .option-right-rating-text{
	right:36px;
	bottom:-12px;
	
}
.cc-question-container[data-type="scale"] .option-number-item{
	width: 38px;
    margin: 0 .5px;
    cursor: pointer;
    display: inline-block;
    float: none;
}
.cc-question-container[data-type="scale"] .cc-question-container__list{
	display: inline-block;
    width: auto;
    position: relative;
}
.cc-question-container[data-type="scale"].scale-image-container .cc-question-container__list{
    width: 100%;
	
}
.rating-color{
	position: relative;
}
// .option-smile-box img,.option-star-box img{
// 	height: 60px;
// 	margin-right: 29px;
// 	width: 60px;
// 	cursor : pointer;
// 	border:solid 4px transparent;
// 	border-radius: 50%;
// }
// .option-smile-box.selected img,.option-star-box.selected img,
// .option-smile-box:hover img,.option-star-box:hover img{
// 	border:solid 4px red;
// }
// .option-star-box img{
// 	margin-right: 19px;
// }

.option-smile-box, .option-star-box{
	height: 60px;
	margin-right: 29px;
	width: 60px;
	cursor : pointer;
	border:solid 4px transparent;
	border-radius: 50%;
	display:inline-block;
	background-size:100%;
	
}
.option-smile-box.one{
	background:url('https://cx.getcloudcherry.com/microsurvey-assets/Smilie_1.svg') no-repeat;	
	background-size:100%;
	
}	
.option-smile-box.two{
	background:url('https://cx.getcloudcherry.com/microsurvey-assets/Smilie_2.svg') no-repeat;
	background-size:100%;
}
.option-smile-box.three{
	background:url('https://cx.getcloudcherry.com/microsurvey-assets/Smilie_3.svg') no-repeat;	
	background-size:100%;
}	
.option-smile-box.four{
	background:url('https://cx.getcloudcherry.com/microsurvey-assets/Smilie_4.svg') no-repeat;	
	background-size:100%;
}	
.option-smile-box.five{
	background:url('https://cx.getcloudcherry.com/microsurvey-assets/Smilie_5.svg') no-repeat;	
	background-size:100%;
	
}	
.option-smile-box.one.selected,
.option-smile-box.one:hover{
	background:url('https://cx.getcloudcherry.com/microsurvey-assets/Smilie_1_Selected.svg') no-repeat;	
	background-size:100%;
}	
.option-smile-box.two.selected,
.option-smile-box.two:hover{
	background:url('https://cx.getcloudcherry.com/microsurvey-assets/Smilie_2_Selected.svg') no-repeat;
	background-size:100%;
}
.option-smile-box.three.selected,
.option-smile-box.three:hover{
	background:url('https://cx.getcloudcherry.com/microsurvey-assets/Smilie_3_Selected.svg') no-repeat;	
	background-size:100%;
}	
.option-smile-box.four.selected,
.option-smile-box.four:hover{
	background:url('https://cx.getcloudcherry.com/microsurvey-assets/Smilie_4_Selected.svg') no-repeat;	
	background-size:100%;
}	
.option-smile-box.five.selected,
.option-smile-box.five:hover{
	background:url('https://cx.getcloudcherry.com/microsurvey-assets/Smilie_5_Selected.svg') no-repeat;	
	background-size:100%;
}
.cc-csat.cc-question-container__content.rating-color{
	margin-left:45px;
}
.option-csat.option-smile-box.selected,
.option-csat.option-smile-box:hover,
.option-csat.option-smile-box{
	background-size: 25px;
	// background-position: center;
	background-position: 18px center;
	background:none;

}
.option-csat.option-smile-box.selected,
.option-csat.option-smile-box:hover{
}

.option-csat{
	height: 30px;
    margin-right: 68px;
    width: 30px;
    padding-left: 50px;
    font-size: 14px;
}
.option-csat{
	height: 45px;
    margin-right: 0px;
    width: auto;
    padding-left: 0px;
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 13px;
}

.option-csat span {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    padding-left: 25px;
    position: relative;
    top: -10px;
    text-align: left;
    /* min-height: 32px; */
    width: 100%;
}

.option-csat .cc-checkbox{
	    top: 8px;
}
.option-csat .cc-checkbox input[type="radio"]:checked + label:after{
	height: 15px;
    width: 15px;
}
.option-csat .cc-checkbox.cc-radio label:before{
	height: 15px;
    width: 15px;
}

.option-star-box{
	background:url('https://cx.getcloudcherry.com/microsurvey-assets/Star.svg') no-repeat;	
	background-size:100%;
}
.option-star-box:hover,
.option-star-box.selected{
	background:url('https://cx.getcloudcherry.com/microsurvey-assets/Star_selected.svg') no-repeat;	
	background-size:100%;
}

.cc-question-container[data-type="slider"] .option-left-rating-text{
	left:4px;
}

.cc-question-container[data-type="smile"] .cc-question-container__list, 
.cc-question-container[data-type="star"] .cc-question-container__list{
	position: relative;
	width: auto;
	display: inline-block;
}


@media (min-width: 767px) and (max-width: 992px){
	.option-smile-box, .option-star-box {
	    width: 50px;
	    height: 50px;
	    margin-right: 10px;
	}

	.option-csat.option-smile-box.selected, .option-csat.option-smile-box:hover, .option-csat.option-smile-box{
		display: inline-block;
		width: 168px;
	}
	.cc-question-container[data-type="smile"] .option-right-rating-text, .cc-question-container[data-type="star"] .option-right-rating-text{
		right:16px;
	}
	// .option-left-rating-text, .option-right-rating-text{
	// 	left:5px;
	// }
	
}
@media (max-width: 767px){
	.option-smile-box,.option-star-box{
		display: inline-block;
		// width: 18%;
		margin-right: 3px;
		
	}
	.option-csat.option-smile-box.selected,
	.option-csat.option-smile-box:hover,
	.option-csat.option-smile-box{
			display: block;
			background-size: 40px;
    		background-position: 29px center;
	}
	.option-csat.option-smile-box {
		height: 65px;
		width: 100%;
	}
	.option-csat.option-smile-box span{
		font-size: 15px;
		padding-left: 74px;
		top:0
	}
	.option-csat.option-smile-box .cc-checkbox {
    	top: 19px;
	}
	.option-csat.option-smile-box .cc-checkbox.cc-radio label:before{
		width:25px;
		height:25px;
	}
	.option-csat.option-smile-box .cc-checkbox input[type="radio"]:checked + label:after{
		width:25px;
		height:25px;
	}
	.option-number-item {
		color: #fff;
		float: left;
		font-size: 15px;
		height: 35px;
		margin-right: 1px;
		padding-top: 7px;
		text-align: center;
		width: 38px;
		cursor: pointer;
		vertical-align: middle;
	}
	.cc-question-container[data-type="scale"]{
		bottom: 106px;
	}
	.cc-question-container[data-type="scale"] .option-left-rating-text,
	.cc-question-container[data-type="scale"] .option-right-rating-text {
		bottom: -44px;
		width: auto;
	}
	.cc-question-container[data-type="scale"] .option-right-rating-text{
		text-align: right;
	}
	.option-smile-box img, .option-star-box img{
		padding-right: 5px;
		margin-right: 0;
	}

	.cc-question-container[data-type="nps"] .cc-question-container__content{
		width:100%!important;
	}
	.cc-question-container[data-type="smile"] .option-right-rating-text, .cc-question-container[data-type="star"] .option-right-rating-text{
		right:10px;
	}
	.cc-question-container[data-type="scale"] .cc-question-container__list{
		width:100%;
	}
}

@media (max-width: 381px){
	.option-smile-box,.option-star-box{
		display: inline-block;
		// width: 18%;
		margin-right: 0;
		height:50px;
		width:50px;
		
	}
	.option-smile-box img, .option-star-box img{
		padding-right: 5px;
		margin-right: 0;
	}
}

.option-number-item.option-scale{
	background: #4db47c;
}

.option-number-item.option-scale.selected,
.option-number-item.option-scale:hover{
	background: #712827;
}

.cc-nps-image{
	cursor: pointer;
	position: relative;
	left: 0px;
}
.circle-image{
	margin:auto;
	width: 253px;
    overflow: hidden;
	height: 240px;
	position: relative;
}
.circle-image-scale-010-neutral{
	width: 242px;
    overflow: hidden;
	height: 230px;
	margin:auto;
}
.cc-nps-selected-rating{
	font-size: 100px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0px;
    line-height: 100px;
    right: 0;
    margin: auto;
    bottom: 0;
    width: 110px;
    height: 100px;
    text-align: center;
    font-weight: 100;
	color: #bbb;
	// letter-spacing: -15px;
}