/** Scrollbar	**/
.cc-sdk .cc-scrollbar-wrapper {
    float: left;
    height   : 100%;
    overflow : hidden;
    position : relative;
    width: 100%;
    z-index  : 1;
}

.cc-sdk .cc-scrollbar-content {
    -moz-box-sizing : border-box;
    /* padding         : 0 32px 0 0; */
    /* right           : -18px; */
    box-sizing      : border-box;
    height          : 100%;
    overflow        : auto;
    position        : relative;
    width: 107%;
}

.cc-sdk .cc-scrollbar-scroll {
    background: #aaa;
    border-radius       : 4px;
    cursor              : pointer;
    opacity: 0;
    position            : relative;
    top                 : 0;
    transition: opacity 0.25s linear;
    width               : 9px;
    z-index             : 2;
}

.cc-sdk .cc-scrollbar-container:hover .cc-scrollbar-scroll {
    opacity: 1;
}

.cc-sdk .cc-scrollbar-grabbed {
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}