[dir="rtl"].cc-sdk {
	.cc-sdk-chart canvas {
		right: 0;
		left: auto;
	}
	.cc-sdk-loader {
		right: 28px;
		left: auto;
	}
}

@media (min-width: 768px) {
	[dir="rtl"].cc-sdk .cc-sdk-chart canvas {
		margin-right: 10px;
		margin-left: 0;
	}
}