	/** Utilities **/

.show{
	display: block!important;
}
.hide{
	display: none!important;
}
.bottom{
	bottom:0;
}
.right{
	right:0;
}
.left{
	left:0;
}
.top{
	top:0;
}

// html[dir="rtl"] .submit-icon{
//     left: 0;
//     right: initial;
// }


.overlay{
	background: #fff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}
.overlay.glass{
	background-image: url(http://localhost:8080/images/ww.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.clearfix{
	clear: both;
	display: block;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: $color-1;
	font-family: 'Open Sans';
	font-size: 13px;
	font-style: italic;
	font-weight: normal;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
	font-style: italic;
	font-size: 13px;
	font-weight: normal;
	font-family: 'Open Sans';
	color: $color-1;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
	font-style: italic;
	font-size: 13px;
	font-weight: normal;
	font-family: 'Open Sans';
	color: $color-1;
}
.form-control:-moz-placeholder { /* Firefox 18- */
	font-style: italic;
	font-size: 13px;
	font-weight: normal;
	font-family: 'Open Sans';
	color: $color-1;
}

@media (min-width: 767px){
	.desktop-hide{
		display: none;
	}
}

@media (max-width: 767px){
	.mobile-hide{
		display: none;
	}
	
	.loader{
		position: relative;
		left: auto;
		top: 0;
		right: auto;
	}
	.overlay.welcome-overlay{
		/*background-image: url(http://localhost:8080/images/ww.png);*/
		background: rgba(210, 42, 53, 0.87);
	}
	iframe, body.blurr > *:not(.cc-popup-container):not(.cc-survey){
		-webkit-filter: blur(15px);
		-moz-filter: blur(15px);
		-ms-filter: blur(15px);
		-o-filter: blur(15px);
		filter: blur(15px);
	}


}