$yellow         : #fdaf19;
$red	        : rgba(210, 42, 53, 1);
$dark-grey	    : #4c4c4c;
$dark-grey-2	: #424242;

$cc-brand-1-color :  $yellow;
$cc-brand-2-color :  $red;

$color-1 : $dark-grey;
$color-2 : $dark-grey-2;