body{
	margin: 0;
	padding: 0;
	font-family: "open sans", sans-serif;
}
ul{
	padding-left: 0;
	list-style-type: none;
	margin: 0;
}
.cc-popup-container{
	width: 198px;
	height: 152px;
	background: #fff;
	position: fixed;
	z-index: 1111;
	box-shadow: 0 0 4px 5px rgba(0,0,0,0.05);
	font-family: "open sans", sans-serif;
	text-align: center;
	margin: 9px;

}
.cc-popup-container, .cc-popup-container-2, .cc-question-container{
	display: none;
}

.cc-message-box{
	position: relative;
	z-index: 11;
}
.cc-message-box__text{
	font-weight: 600;
	padding: 29px 14px 20px 14px;
	font-size: 15px;
	vertical-align: middle;
	color: #424242;
	margin: 0;
}
.cc-message-box__btn{
	width: 124px;
	height: 32px;
	padding: 6px 0;
	border-radius: 100px;
	font-size: 15px;
	font-weight: 700;
	display: inline-block;
	background: #fdaf19;
}
.cc-popup-container .cc-popup-container__close{
    position: absolute;
    right: 0;
    top: 0;
    margin: 4px;
    z-index: 111;
    cursor: pointer;
}
.cc-popup-container-2{
	width: 100%;
	height: 144px;
	position: fixed;
	z-index: 1111;
	/* box-shadow: 0 0 4px 5px rgba(0,0,0,0.05); */
	padding: 8px;
}

.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	left: 0;
	background: #fff;
}
.overlay.glass{
	background-image: url(../images/ww.png);
	background-repeat: no-repeat;
	background-size: cover;
}

a,a:hover,a:focus{
	text-decoration: none;
	color: inherit;
}
*{
	box-sizing: border-box;
}
p{
	color: inherit;
	margin: 0;
}
.cc-popup-container-2__icons,.cc-popup-container-2__icons{
	position: absolute;
	top: 0;
	cursor: pointer;
	padding: 8px;
	z-index: 111;
}
.cc-popup-container-2__icons.cc-right-icon{
	right: 0;
}
.cc-popup-container-2__icons.cc-left-icon{
	left: 0;
}

.cc-question-container{
    position: relative;
    z-index: 11;
    padding: 20px;
    width: calc( 100% - 147px);
    text-align: center;
    margin-right: 147px;
    /* margin: auto; */
}
.cc-question-container__text{
	width: 15%;
	/*height: 80px;*/
	font-size: 15px;
	font-weight: 600;
	color: #424242;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	max-width: 230px;
	padding: 8px 0;
}
.cc-question-container__content{
	display: inline-block;
	max-width: 84%;
	width: auto;
	vertical-align: middle;
}
.cc-question-container__list li{
	display: inline-block;
	padding-left: 29px;
	vertical-align: middle;
}

.cc-question-container__list li span{
	font-size: 15px;
	padding-left: 15px;
	display: table-cell;
	width: 125px;
	vertical-align: middle;
	text-align: left;
}
.cc-question-container__list li input{
	vertical-align: middle;
}
.clearfix{
	clear: both;
    display: block;
}

.submit-icon{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 11;
    margin-right: 75px;
    cursor: pointer;
     background-image: url("data:image/svg+xml,%3Csvg width='47px' height='47px' viewBox='0 0 47 47' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 46 %2844423%29 - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3EGroup 16%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3Ccircle id='path-1' cx='19.3130459' cy='19.3130459' r='19.3130459'%3E%3C/circle%3E%3Cfilter x='-18.1%25' y='-12.9%25' width='136.2%25' height='136.2%25' filterUnits='objectBoundingBox' id='filter-2'%3E%3CfeOffset dx='0' dy='2' in='SourceAlpha' result='shadowOffsetOuter1'%3E%3C/feOffset%3E%3CfeGaussianBlur stdDeviation='2' in='shadowOffsetOuter1' result='shadowBlurOuter1'%3E%3C/feGaussianBlur%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.116423234 0' type='matrix' in='shadowBlurOuter1'%3E%3C/feColorMatrix%3E%3C/filter%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='1-copy-20' transform='translate%28-1246.000000, -664.000000%29'%3E%3Cg id='Group-16' transform='translate%281250.000000, 666.000000%29'%3E%3Cg id='Oval-4'%3E%3Cuse fill='black' fill-opacity='1' filter='url%28%23filter-2%29' xlink:href='%23path-1'%3E%3C/use%3E%3Cuse fill='' fill-rule='evenodd' xlink:href='%23path-1'%3E%3C/use%3E%3C/g%3E%3Cg id='Group-5' transform='translate%2812.000000, 11.000000%29' fill-rule='nonzero' fill='%23404041'%3E%3Cg id='fast-forward-arrows' transform='translate%286.173934, 0.000000%29'%3E%3Cpolygon id='Shape' points='0.993357559 0 0 0.993357559 7.30823082 8.3015552 0 15.6097197 0.993357559 16.6030772 9.29491276 8.3015552'%3E%3C/polygon%3E%3C/g%3E%3Cg id='fast-forward-arrows-copy'%3E%3Cpolygon id='Shape' points='0.993357559 0 0 0.993357559 7.30823082 8.3015552 0 15.6097197 0.993357559 16.6030772 9.29491276 8.3015552'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    width:47px;
    height:47px;
}


.progress-bar{
	width: 100%;
	position: absolute;
	background: #a47c2b;
	z-index: 1;
	height: 8px;
	left: 0;
}

.progress-line{
	background: #fdaf19;
	height: 100%;
	display: block;
	width: 0%;
	transition: all .4s ease-in;
}

/*cc-question-container css*/
	.option-number-item{
		width: 32px;
		height: 32px;
		float: left;
		text-align: center;
		color: #fff;
		font-size: 13px;
		margin-left: 1px;
		padding-top: 7px;

	}
	.option-number-item.option-zero{
		background: #853838;
	}
	.option-number-item.option-zero.selected{
		background: #572526;
	}

	.option-number-item.option-one{
		background: #9e4343;
	}
	.option-number-item.option-one.selected{
		background: #642728;
	}

	.option-number-item.option-two{
		background: #c14d4d;
	}
	.option-number-item.option-two.selected{
		background: #712827;
	}

	.option-number-item.option-three{
		background: #d94d4d;
	}
	.option-number-item.option-three.selected{
		background: #7c2828;
	}

	.option-number-item.option-four{
		background: #ee4d4d;
	}
	.option-number-item.option-four.selected{
		background: #852828;
	}

	.option-number-item.option-five{
		background: #ff4d4d;
	}
	.option-number-item.option-five.selected{
		background: #844828;
	}

	.option-number-item.option-six{
		background: #ff8c4d;
	}
	.option-number-item.option-six.selected{
		background: #844828;
	}

	.option-number-item.option-seven{
		background: #ffc74d;
	}
	.option-number-item.option-seven.selected{
		background: #856728;
	}

	.option-number-item.option-eight{
		background: #f5eb4d;
	}
	.option-number-item.option-eight.selected{
		background: #7f7a28;
	}

	.option-number-item.option-nine{
		background: #73ca81;
	}
	.option-number-item.option-nine.selected{
		background: #3b6942;
	}

	.option-number-item.option-ten{
		background: #4db47c;
	}
	.option-number-item.option-ten.selected{
		background: #285e40;
	}

	.cc-question-container__content.rating-color{
		margin-left: 74px;
	}

	.option-left-rating-text,.option-right-rating-text{
		font-size: 13px;
	    position: absolute;
	    left: 0;
	    bottom: -25px;
	    color: #424242;
	}
	.option-right-rating-text{
		right: 0;
		left: auto;
	}
	.rating-color{
		position: relative;
	}
	.option-smile-box img,.option-star-box img{
		width: 54px;
		height: 54px;
		margin-right: 29px;
	}
	.option-star-box img{
		margin-right: 19px;
	}
	.radio-toggle .cc-question-container__list li{
		padding-left: 52px;
	}
	.radio-toggle .cc-question-container__list li span{
		width: auto;
		padding: 10px;
	}

	.chart {
	  display: inline-block;
	  width: 21px;
	  height: 21px;
	  vertical-align: top;
	  position: relative;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  padding-top: 22px;
	}
	.chart span {
	  display: block;
	  font-size: 2em;
	  font-weight: normal;
	}
	.chart canvas {
        position: absolute;
	    left: 0;
	    top: 0;
	}

	.cc-question-container:before{
	  content: '';
	  display: inline-block;
	  height: 100%;
	  vertical-align: middle;
	  margin-right: -4px;
	}

	.cc-question-container {
	  vertical-align: middle;
	  height: 100%;
	}
	.cc-questions-container{
		height: 100%;
	}

	.loader{
	    width: 21px;
	    height: 21px;
	    position: absolute;
	    top: 8px;
	    left: 28px;
	}
	.multiline-box{
		min-width:600px;
		border:1px #6d6d6d solid;
		border-radius: 2px;
		height:70px;
		margin: 0 0px 0 50px;
		padding:2px 5px;
		background: #fff;
		resize:none;
		font-family: 'Open Sans';
		font-size: 15px;
	}
	.multiline-box:focus{
		outline: 0;
	}

	.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  font-style: italic;
	  font-size: 13px;
	  font-weight: normal;
	  font-family: 'Open Sans';
	  color: #4c4c4c;
	}
	.form-control::-moz-placeholder { /* Firefox 19+ */
	  font-style: italic;
	  font-size: 13px;
	  font-weight: normal;
	  font-family: 'Open Sans';
	  color: #4c4c4c;
	}
	.form-control:-ms-input-placeholder { /* IE 10+ */
	  font-style: italic;
	  font-size: 13px;
	  font-weight: normal;
	  font-family: 'Open Sans';
	  color: #4c4c4c;
	}
	.form-control:-moz-placeholder { /* Firefox 18- */
	  font-style: italic;
	  font-size: 13px;
	  font-weight: normal;
	  font-family: 'Open Sans';
	  color: #4c4c4c;
	}

	.detail-box .cc-question-container__text p{
		font-size: 13px;
		font-weight: 700;
	}
	.detail-box .cc-question-container__text span{
		font-size: 15px;
		font-weight: normal;
		display: inline-block;
	}
	.detail-box .cc-question-container__text {
	    height: 56px;
	}
	.detail-box .cc-question-container__content .form-control{
	    border: none;
	    border-bottom: 1px solid #6d6d6d;
	    line-height: 26px;
	    font-size: 15px;
	    font-family: "open sans";
	    outline: 0;
	    width: 300px;
	    background: transparent;
	}

	.d-star-box.detail-box .cc-question-container__text{
		height: 92px;
	}

	.hl.dropdown{
	    width: 300px;
	    border-bottom: 1px solid #6d6d6d;
	    display: inline-block;
	    text-align: left;
	    padding: 5px;
	    position: relative;
	    background-image: url(../images/arrow-down.black.svg);
	    background-position: 97% center;
	    background-repeat: no-repeat;
	}
	.drop-cc-question-container .cc-question-container__text{
		/*height: 60px;*/
		margin-right: 20px;
	}
	.form-control:focus{
		border-color: #fcaf18;
	}



/** Checkbox **/

*, *:before, *:after {
  box-sizing: border-box;
}
.cc-checkbox {
    position: relative;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
}
.cc-checkbox label {
  cursor: pointer;
}
.cc-checkbox label:before, .cc-checkbox label:after {
  	content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.cc-checkbox label:before {
  width: 20px;
  height: 20px;
  background: transparent;
  border: 1px solid rgb(66, 66, 66);
  border-radius: 2px;
  cursor: pointer;
  transition: background .3s;
}
.cc-checkbox input[type="checkbox"] {
  outline: 0;
  margin-right: 10px;
  opacity: 0;
}
.cc-checkbox input[type="checkbox"]:checked + label:before {
  background: #fdaf19;
  border: none;
}
.cc-checkbox input[type="checkbox"]:checked + label:after {
    transform: rotate(-45deg);
    top: -3px;
    left: 4px;
    width: 12px;
    height: 7px;
    border: 3px solid #222;
    border-top-style: none;
    border-right-style: none;
}
/*radio*/
.cc-checkbox.cc-radio label:before {
  width: 25px;
  height: 25px;
  background: transparent;
  border: 1px solid rgb(66, 66, 66);
  cursor: pointer;
  transition: background .3s;
}
.cc-checkbox input[type="radio"] {
  outline: 0;
  margin-right: 10px;
  opacity: 0;
}
.cc-checkbox input[type="radio"]:checked + label:before {
	background: transparent;
	border-color: #fdaf19;
}
.cc-checkbox input[type="radio"]:checked + label:after {
	background: #fdaf19;
	width: 25px;
	height: 25px;
	border-radius: 30px;
	-webkit-transform: scale(.8);
	 -moz-transform: scale(.8);
	 -ms-transform: scale(.8);
	 -o-transform: scale(.8);
	 transform: scale(.8);
}
.cc-radio label:before{
	border-radius: 30px;
}
.radio-toggle--more-option li span{
	width: 125px !important;
	padding-left: 25px !important;
}
.detail-box .cc-question-container__content{
	padding-left: 0;
}


/** Scrollbar	**/
.cc-scrollbar-wrapper {
    overflow : hidden;
    height   : 100%;
    position : relative;
    z-index  : 1;
    float: left;
    width: 100%;
}

.cc-scrollbar-content {
    height          : 100%;
    width: 107%;
    /* padding         : 0 32px 0 0; */
    position        : relative;
    /* right           : -18px; */
    overflow        : auto;
    -moz-box-sizing : border-box;
    box-sizing      : border-box;
}

.cc-scrollbar-scroll {
  position            : relative;
  background: #aaa;
  width               : 9px;
  border-radius       : 4px;
  top                 : 0;
  z-index             : 2;
  cursor              : pointer;
  opacity: 0;
  transition: opacity 0.25s linear;
}

.cc-scrollbar-container:hover .cc-scrollbar-scroll {
  opacity: 1;
}

.cc-scrollbar-grabbed {
     user-select: none;
     -o-user-select: none;
     -moz-user-select: none;
     -khtml-user-select: none;
     -webkit-user-select: none;
}

/** Select **/
.cc-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
  z-index:11;
}
  .cc-select-wrapper select {
    display: none;
  }
  .cc-select {
    position: relative;
    display: inline-block;
  }
    .cc-select-trigger {
      position: relative;
      display: block;
      width: 130px;
      padding: 0 84px 0 22px;
     font-size: 15px;
	    font-style: italic;
	    font-weight: 300;
	    color: #222;
	    line-height: 20px;
	    background: transparent;
	    border-radius: 0;
	    cursor: pointer;
	    width: 300px;
	    border-bottom: 1px solid #6d6d6d;
	    display: inline-block;
	    text-align: left;
	    padding: 5px;
	    position: relative;
      /*background-image: url(../images/arrow-down.black.svg);*/
      background-position: 97% center;
      background-repeat: no-repeat;
    }
      .cc-select-trigger:after {
        position: absolute;
        display: block;
        content: '';
        width: 10px; height: 10px;
        top: 50%; right: 25px;
        margin-top: -3px;
        border-bottom: 1px solid #222;
        border-right: 1px solid #222;
        transform: rotate(45deg) translateY(-50%);
        transition: all .2s ease-in-out;
        transform-origin: 50% 0;
      }
      .cc-select.opened .cc-select-trigger:after {
        margin-top: 3px;
        transform: rotate(-135deg) translateY(-50%);
      }
  .cc-select-options-container {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    min-width: 100%;
    margin: 15px 0;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0,0,0,.07);
    background: #fff;
    transition: all .2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(calc( -100% - 80px ));
    height: 150px;
  }

.cc-select-options{
    /*  max-height: 150px;
    overflow-y: scroll; */
}
  .cc-select.opened .cc-select-options-container {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(calc( -100% - 80px ));
  }
    .cc-select-options:before {
/*       position: absolute;
      display: block;
      content: '';
      bottom: 100%; right: 25px;
      width: 7px; height: 7px;
      margin-bottom: -4px;
      border-top: 1px solid #b5b5b5;
      border-left: 1px solid #b5b5b5;
      background: #fff;
      transform: rotate(45deg);
      transition: all .4s ease-in-out; */
    }
    .option-hover:before {
      background: #f9f9f9;
    }
    .cc-select-option {
      position: relative;
      display: block;
      padding: 0 12px;
      border-bottom: 1px solid #e4e4e4;
      font-size: 12px;
      font-weight: 600;
      color: #222;
      line-height: 34px;
      cursor: pointer;
      transition: all .2s ease-in-out;
      text-align: left;
      margin: 0 5px;
      width: 95%;
    }
    .cc-select-option:first-of-type {
      border-radius: 4px 4px 0 0;
    }
    .cc-select-option:last-of-type {
      border-bottom: 0;
      border-radius: 0 0 4px 4px;
    }
    .cc-select-option:hover,
    .cc-select-option.selection {
      background: #f9f9f9;
    }

   	.cc-select-wrapper.down .cc-select-options-container {
	    transform: translateY(calc( 20px ));
	  }
	 .cc-select-wrapper.down .cc-select.opened .cc-select-options-container {
	    transform: translateY(calc( 20px ));
	  }


	/** Themes **/
.yellow .progress-bar{
	background: #a47c2b;
}

.yellow .progress-line{
	background: #fdaf19;
}

.yellow .submit-icon{
	  background-image: url("data:image/svg+xml,%3Csvg width='47px' height='47px' viewBox='0 0 47 47' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 46 %2844423%29 - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3EGroup 16%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3Ccircle id='path-1' cx='19.3130459' cy='19.3130459' r='19.3130459'%3E%3C/circle%3E%3Cfilter x='-18.1%25' y='-12.9%25' width='136.2%25' height='136.2%25' filterUnits='objectBoundingBox' id='filter-2'%3E%3CfeOffset dx='0' dy='2' in='SourceAlpha' result='shadowOffsetOuter1'%3E%3C/feOffset%3E%3CfeGaussianBlur stdDeviation='2' in='shadowOffsetOuter1' result='shadowBlurOuter1'%3E%3C/feGaussianBlur%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.116423234 0' type='matrix' in='shadowBlurOuter1'%3E%3C/feColorMatrix%3E%3C/filter%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='1-copy-20' transform='translate%28-1246.000000, -664.000000%29'%3E%3Cg id='Group-16' transform='translate%281250.000000, 666.000000%29'%3E%3Cg id='Oval-4'%3E%3Cuse fill='black' fill-opacity='1' filter='url%28%23filter-2%29' xlink:href='%23path-1'%3E%3C/use%3E%3Cuse fill='' fill-rule='evenodd' xlink:href='%23path-1'%3E%3C/use%3E%3C/g%3E%3Cg id='Group-5' transform='translate%2812.000000, 11.000000%29' fill-rule='nonzero' fill='%23404041'%3E%3Cg id='fast-forward-arrows' transform='translate%286.173934, 0.000000%29'%3E%3Cpolygon id='Shape' points='0.993357559 0 0 0.993357559 7.30823082 8.3015552 0 15.6097197 0.993357559 16.6030772 9.29491276 8.3015552'%3E%3C/polygon%3E%3C/g%3E%3Cg id='fast-forward-arrows-copy'%3E%3Cpolygon id='Shape' points='0.993357559 0 0 0.993357559 7.30823082 8.3015552 0 15.6097197 0.993357559 16.6030772 9.29491276 8.3015552'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.yellow .cc-checkbox input[type="checkbox"]:checked + label:before {
  background: #fdaf19;
}
.yellow .cc-checkbox input[type="checkbox"]:checked + label:after {
  border-color: #222;
  }
.yellow .cc-checkbox input[type="radio"]:checked + label:before {
	border-color: #fdaf19;
}
.yellow .cc-checkbox input[type="radio"]:checked + label:after {
	background: #fdaf19;
}

.yellow .form-control:focus {
    border-color: #fcaf18;
}
.yellow .cc-message-box__btn{
	background: #fdaf19;
}

.red .progress-bar{
	/*background: rgba(130, 17, 25, 0.87);*/
	background: rgba(210, 42, 53, 1);
}
.red .progress-line{
	background: rgba(210, 42, 53, 1);
	filter: brightness(150%);
}
.red .cc-checkbox input[type="checkbox"]:checked + label:before {
	background: rgba(210, 42, 53, 1);
}
.red .cc-checkbox input[type="checkbox"]:checked + label:after {
  border-color: #fff;
  }
.red .cc-checkbox input[type="radio"]:checked + label:before {
	border-color: rgba(210, 42, 53, 1);
}
.red .cc-checkbox input[type="radio"]:checked + label:after {
	background: rgba(210, 42, 53, 1);
}
.red .form-control:focus {
    border-color: rgba(210, 42, 53, 1);
}
.red .cc-message-box__btn{
	background: rgba(210, 42, 53, 1);
	color:#fff;
}

.red .submit-icon{
	 background-image: url("data:image/svg+xml,%3Csvg width='47px' height='47px' viewBox='0 0 47 47' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 46 %2844423%29 - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3EGroup 16%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3Ccircle id='path-1' cx='19.3130459' cy='19.3130459' r='19.3130459'%3E%3C/circle%3E%3Cfilter x='-18.1%25' y='-12.9%25' width='136.2%25' height='136.2%25' filterUnits='objectBoundingBox' id='filter-2'%3E%3CfeOffset dx='0' dy='2' in='SourceAlpha' result='shadowOffsetOuter1'%3E%3C/feOffset%3E%3CfeGaussianBlur stdDeviation='2' in='shadowOffsetOuter1' result='shadowBlurOuter1'%3E%3C/feGaussianBlur%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.116423234 0' type='matrix' in='shadowBlurOuter1'%3E%3C/feColorMatrix%3E%3C/filter%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='1-copy-20' transform='translate%28-1246.000000, -664.000000%29'%3E%3Cg id='Group-16' transform='translate%281250.000000, 666.000000%29'%3E%3Cg id='Oval-4'%3E%3Cuse fill='white' fill-opacity='1' filter='url%28%23filter-2%29' xlink:href='%23path-1'%3E%3C/use%3E%3Cuse fill='rgba(210, 42, 53, 1)' fill-rule='evenodd' xlink:href='%23path-1'%3E%3C/use%3E%3C/g%3E%3Cg id='Group-5' transform='translate%2812.000000, 11.000000%29' fill-rule='nonzero' fill='%23FFFFFF'%3E%3Cg id='fast-forward-arrows' transform='translate%286.173934, 0.000000%29'%3E%3Cpolygon id='Shape' points='0.993357559 0 0 0.993357559 7.30823082 8.3015552 0 15.6097197 0.993357559 16.6030772 9.29491276 8.3015552'%3E%3C/polygon%3E%3C/g%3E%3Cg id='fast-forward-arrows-copy'%3E%3Cpolygon id='Shape' points='0.993357559 0 0 0.993357559 7.30823082 8.3015552 0 15.6097197 0.993357559 16.6030772 9.29491276 8.3015552'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

	/** Utilities **/

	.show{
		display: block!important;
	}
	.hide{
		display: none!important;
	}
	.bottom{
		bottom:0;
	}
	.right{
		right:0;
	}
	.left{
		left:0;
	}
	.top{
		top:0;
	}
	.cc-big-list-container .cc-question-container__list{
		display: table;
		width: 100%;
	}
	.cc-big-list-container .cc-question-container__list li{
		display: table-cell;
		vertical-align: middle;
	}
	@media (min-width: 768px) and (max-width: 1024px){
		.cc-popup-container-2 {
		    height: 300px;
		}
		.cc-big-list-container .cc-question-container__list,.cc-question-container__list{
			text-align: left;
		}
		.cc-big-list-container .cc-question-container__list li ,.cc-question-container__list li{
		    display: inline-block;
		    vertical-align: middle;
		    width: 49%;
		    margin-bottom: 15px;
		}
		.cc-question-container__content {
		    display: inline-block;
		    width: 45%;
		}
		.multiline-box{
			min-width: 100%;
			margin: 0;
		}
	}
	@media (min-width: 768px) and (max-width: 992px){
		.cc-question-container {
		    width: 100%;
		    margin: auto;
		}
		.cc-question-container__text {
    		width: 24%;
		    padding-right: 20px;
    	}
	    .cc-question-container__content.rating-color {
		    margin-left: 0px;
		}
		.option-smile-box img, .option-star-box img {
		    width: 50px;
		    height: 50px;
		    margin-right: 10px;
	    }
	    .radio-toggle .cc-question-container__list li {
		    padding-left: 10px;
		}
		.radio-toggle .cc-question-container__list li span {
		    padding: 10px;
		}
	}
	@media (min-width: 768px){
		.chart canvas{
			margin-left: 10px;
		}
		.desktop-hide{
			display: none;
		}
	}

	@media (max-width: 768px){
		.cc-popup-container-2{
			height: 100%;
			top: 0;
			bottom: auto;
		}
		.cc-popup-container-2__icons.cc-right-icon {
			right: auto;
			left: 0;
		}
		.cc-popup-container-2__icons.cc-left-icon {
		    right: 0;
		    left: auto;
		}
		.cc-big-list-container .cc-question-container__list li {
		    display: block;
		}
		.radio-toggle--more-option li span {
		    width: 84% !important;
		    padding-left: 25px !important;
		}
		.radio-toggle--more-option li{
			padding-right: 0 !important;
			display: block !important;
			padding-top: 10px;
		}
		.detail-box .cc-question-container__content {
		    padding-left: 0px;
		}
		.cc-question-container{
			width: 100%;
			text-align: left;
			bottom: 75px;
			top: auto;
			position: absolute;
			padding: 40px 20px;
			left: 0;
			height: auto;
		}
		.cc-question-container__text{
			max-width: 400px;
			width: 100%;
			text-align: left;
			font-size: 18px;
			margin-bottom: 20px;
		}
		.cc-question-container__content {
		    max-width: 100%;
		    display: block;
		    width: 100%;
		}
	    .submit-icon {
		    position: absolute;
		    left: 30px;
		    top: auto;
		    bottom: 30px;
		    padding-right: 0;
		}
		.cc-question-container__list label{
			display: block;
		}
		.cc-question-container__list li span{
			width: auto;
		    padding-left: 15px;
		}
		.cc-question-container__list li{
			padding-left: 0;
			margin-bottom: 10px;
			display: block;
		}

		.mobile-hide{
			display: none;
		}
		.cc-popup-container-2__icons{
			margin: 20px;
		}
		.cc-popup-container-2__icons.left-icon{
			left: auto;
			right: 0;
		}
		.cc-popup-container-2__icons.right-icon{
			right: auto;
			left: 0;
		}
		.cc-popup-container__close{
			width: 27px;
		}
		.loader{
			position: relative;
			left: auto;
			top: 0;
			right: auto;
		}

		.cc-question-container__content.rating-color {
		    margin-left: 0;
		}

		.option-smile-box,.option-star-box{
			display: inline-block;
		    width: 18%;
		}
		.option-smile-box img, .option-star-box img{
		    padding-right: 5px;
			margin-right: 0;
		}
		.radio-toggle .cc-question-container__list li {
		    padding-left: 0;
		}
		.radio-toggle .cc-question-container__list li{
			display: inline-block;
			padding-right: 50px;
		}
		.multiline-box{
			margin: 0;
			min-width: 100%;
			width: 100%;
		    height: 150px;
		}
		.hl.dropdown{
			width: 100%;
		}

		.detail-box .cc-question-container__content .form-control{
			width: 100%;
		}
		.detail-box .cc-question-container__text p{
			font-size: 18px;
		}
		.mobile-detail-box .cc-question-container__text{
			height: auto;
		}
		.overlay.welcome-overlay{
			/*background-image: url(../images/ww.png);*/
			background: rgba(210, 42, 53, 0.87);
		}
		iframe{
		 	-webkit-filter: blur(15px);
		 	-moz-filter: blur(15px);
		 	-ms-filter: blur(15px);
		 	-o-filter: blur(15px);
		 	filter: blur(15px);
		}

		.welcome-box .cc-question-container__text p{
			color: #fff;
		}
		.cc-questions-container{
			position: relative;
			height: 100%;
		}
		  .cc-select,.cc-select-wrapper{
		    min-width: 100%;
		  }
		    .cc-select-trigger {
		    	min-width: 100%;
		    	width: auto;
		    }

	}
