body{
  margin: 0;
  padding: 0;
  font-family: "open sans", sans-serif;
}
ul{
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}
.pop-box2{
  width: 100%;
  height: 144px;
  position: fixed;
  z-index: 1111;
  box-shadow: 0 0 4px 5px rgba(0,0,0,0.05);
  padding: 8px;

}
.pop-box2.bottom{
  bottom: 0;
}
.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #f3f3f3;
  z-index: 1;
  left: 0;
}

a,a:hover,a:focus{
  text-decoration: none;
  color: inherit;
}
*{
  box-sizing: border-box;
}
p{
  color: inherit;
  margin: 0;
}
.pop-box2__icons,.pop-box2__icons{
  position: absolute;
  top: 0;
  cursor: pointer;
  padding: 8px;
  z-index: 111;
}
.pop-box2__icons.right-icon{
  right: 0;
}
.pop-box2__icons.left-icon{
  left: 0;
}

.main-box{
    position: relative;
    z-index: 11;
    padding: 20px;
    width: 1221px;
    text-align: center;
    margin-right: 147px;
    margin: auto;
    display:none;
}
.main-box:first-child{
  display: block;
}
.main-box__text{
  width: 15%;
  height: 80px;
  font-size: 15px;
  font-weight: 600;
  color: #424242;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  max-width: 230px;
  padding: 8px 0;
}
.main-box__content{
  display: inline-block;
  max-width: 84%;
  width: auto;
  vertical-align: middle;
}
.main-box__list li{
  display: inline-block;
  padding-left: 40px;
}

.main-box__list li span{
  font-size: 15px;
  padding-left: 25px;
  display: inline-block;
    width: 130px;
    vertical-align: middle;
    text-align: left;
}
.main-box__list li input{
  vertical-align: middle;
}
.clearfix{
  clear: both;
}

.submit-icon{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 11;
    padding-right: 75px;
    cursor: pointer;
}

.progress-bar{
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #a47c2b;
  z-index: 111;
  height: 8px;
  left: 0;
}

.progress-line{
  background: #fdaf19;
  height: 100%;
  display: block;
  width: 30%;
}

/*main-box css*/
  .number-item{
    width: 32px;
    height: 32px;
    float: left;
    text-align: center;
    color: #fff;
    font-size: 13px;
    margin-left: 1px;
    padding-top: 7px;

  }
  .number-item.zero{
    background: #853838;
  }
  .number-item.zero.selected{
    background: #572526;
  }

  .number-item.one{
    background: #9e4343;
  }
  .number-item.one.selected{
    background: #642728;
  }

  .number-item.two{
    background: #c14d4d;
  }
  .number-item.two.selected{
    background: #712827;
  }

  .number-item.three{
    background: #d94d4d;
  }
  .number-item.three.selected{
    background: #7c2828;
  }

  .number-item.four{
    background: #ee4d4d;
  }
  .number-item.four.selected{
    background: #852828;
  }

  .number-item.five{
    background: #ff4d4d;
  }
  .number-item.five.selected{
    background: #844828;
  }

  .number-item.six{
    background: #ff8c4d;
  }
  .number-item.six.selected{
    background: #844828;
  }

  .number-item.seven{
    background: #ffc74d;
  }
  .number-item.seven.selected{
    background: #856728;
  }

  .number-item.eight{
    background: #f5eb4d;
  }
  .number-item.eight.selected{
    background: #7f7a28;
  }

  .number-item.nine{
    background: #73ca81;
  }
  .number-item.nine.selected{
    background: #3b6942;
  }

  .number-item.ten{
    background: #4db47c;
  }
  .number-item.ten.selected{
    background: #285e40;
  }

  .main-box__content.rating-color{
    margin-left: 74px;
  }

  .left-rating-text,.right-rating-text{
    font-size: 13px;
      position: absolute;
      left: 0;
      bottom: -25px;
      color: #424242;
  }
  .right-rating-text{
    right: 0;
    left: auto;
  }
  .rating-color{
    position: relative;
  }
  .smile-box img,.star-box img{
    width: 54px;
    height: 54px;
    margin-right: 29px;
  }
  .star-box img{
    margin-right: 19px;
  }
  .radio-toggle .main-box__list li{
    padding-left: 52px;
  }
  .radio-toggle .main-box__list li span{
    width: auto;
    padding: 0;
  }

  .chart {
    display: inline-block;
    width: 21px;
    height: 21px;
    vertical-align: top;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 22px;
  }
  .chart span {
    display: block;
    font-size: 2em;
    font-weight: normal;
  }
  .chart canvas {
        position: absolute;
      left: 0;
      top: 0;
  }
  .loader{
      width: 21px;
      height: 21px;
      position: absolute;
      top: 8px;
      left: 28px;
  }
  .multiline-box{
    min-width:600px;
    border:1px #6d6d6d solid;
    border-radius: 2px;
    height:70px;
    margin:0 50px;
    padding:2px 5px;
    background: #fff;
    resize:none;
      font-family: 'Open Sans';
    font-size: 15px;
  }
  .multiline-box:focus{
    outline: 0;
  }

  .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-style: italic;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Open Sans';
    color: #4c4c4c;
  }
  .form-control::-moz-placeholder { /* Firefox 19+ */
    font-style: italic;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Open Sans';
    color: #4c4c4c;
  }
  .form-control:-ms-input-placeholder { /* IE 10+ */
    font-style: italic;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Open Sans';
    color: #4c4c4c;
  }
  .form-control:-moz-placeholder { /* Firefox 18- */
    font-style: italic;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Open Sans';
    color: #4c4c4c;
  }

  .detail-box .main-box__text p{
    font-size: 13px;
    font-weight: 700;
  }
  .detail-box .main-box__text span{
    font-size: 15px;
    font-weight: normal;
    display: inline-block;
  }
  .detail-box .main-box__text {
      height: 56px;
  }
  .detail-box .main-box__content .form-control{
      border: none;
      border-bottom: 1px solid #6d6d6d;
      line-height: 26px;
      font-size: 15px;
      font-family: "open sans";
      outline: 0;
      width: 300px;
      background: transparent;
  }

  .d-star-box.detail-box .main-box__text{
    height: 92px;
  }

  .hl.dropdown{
      width: 300px;
      border-bottom: 1px solid #6d6d6d;
      display: inline-block;
      text-align: left;
      padding: 5px;
      position: relative;
      background-image: url(http://localhost:8080/images/arrow-down.black.svg);
      background-position: 97% center;
      background-repeat: no-repeat;
  }
  .drop-main-box .main-box__text{
    height: 60px;
    margin-right: 20px;
  }
  .form-control:focus{
    border-color: #fcaf18;
  }

  @media (max-width: 768px){
    .pop-box2{
      height: 100%;
      top: 0;
      bottom: auto;
    }
    .main-box{
      width: 100%;
      text-align: left;
      bottom: 75px;
      top: auto;
      position: absolute;
      padding: 40px 20px;
      left: 0;
    }
    .main-box__text{
      max-width: 400px;
      width: 100%;
      text-align: left;
      font-size: 18px;
      margin-bottom: 20px;
    }
    .main-box__content {
        max-width: 100%;
        display: block;
        width: 100%;
    }
      .submit-icon {
        position: absolute;
        left: 30px;
        top: auto;
        bottom: 30px;
        padding-right: 0;
    }
    .main-box__list label{
      display: block;
    }
    .main-box__list li span{
      width: auto;
        padding-left: 15px;
    }
    .main-box__list li{
      padding-left: 0;
      margin-bottom: 10px;
      display: block;
    }

    .mobile-hide{
      display: none;
    }
    .pop-box2__icons{
      margin: 20px;
    }
    .pop-box2__icons.left-icon{
      left: auto;
      right: 0;
    }
    .pop-box2__icons.right-icon{
      right: auto;
      left: 0;
    }
    .pop-box__close{
      width: 27px;
      padding:0;
    }
    .loader{
      position: relative;
      left: auto;
      top: 0;
      right: auto;
    }

    .main-box__content.rating-color {
        margin-left: 0;
    }

    .smile-box,.star-box{
      display: inline-block;
        width: 18%;
    }
    .smile-box img, .star-box img{
        padding-right: 5px;
      margin-right: 0;
    }
    .radio-toggle .main-box__list li {
        padding-left: 0;
    }
    .radio-toggle .main-box__list li{
      display: inline-block;
      padding-right: 50px;
    }
    .multiline-box{
      margin: 0;
      min-width: 100%;
      width: 100%;
        height: 150px;
    }
    .hl.dropdown{
      width: 100%;
    }

    .detail-box .main-box__content .form-control{
      width: 100%;
    }
    .detail-box .main-box__text p{
      font-size: 18px;
    }
    .mobile-detail-box .main-box__text{
      height: auto;
    }

  }
